@use "../../../assets/scss/variables";

/* Our custom css grid based on : https://stable.visual-framework.dev/components/vf-grid/ */

// @import "../../../assets/scss/variables";
// @import "../../../assets/scss/breakpoints";

.mg-grid {
  display: flex;
}

.mg-grid > * {
  flex: 1;
  margin: variables.$mg-spacing-0 variables.$mg-spacing-0 1rem 1.2292%;
}

.mg-grid > *:first-child {
  margin-left: variables.$mg-spacing-0;
}

[class*="mg-grid__"] {
  flex-wrap: wrap;
}

// Originally the calculations in the flex declarations below were created using CSS calc
// Unfortunately IE11 (which this flexbox grid is for) does not support calc inside of flex
// So we've hard coded the percentage values. All other modern browsers get to use grid.
.mg-grid__col-2 > * {
  flex: variables.$mg-spacing-0 variables.$mg-spacing-0 49.38538%;
  max-width: 49.38538%;

  &:nth-of-type(3n) {
    margin-left: variables.$mg-spacing-0;
  }
}

.mg-grid__col-3 > * {
  flex: variables.$mg-spacing-0 variables.$mg-spacing-0 32.51384%;
  max-width: 32.51384%;

  &:nth-of-type(4n) {
    margin-left: variables.$mg-spacing-0;
  }
}

.mg-grid__col-4 > * {
  // 0.9219246
  flex: variables.$mg-spacing-0 variables.$mg-spacing-0 24.078%;
  max-width: 24.078%;

  &:nth-of-type(5n) {
    margin-left: variables.$mg-spacing-0;
  }
}

.mg-grid__col-5 > * {
  // 0.98338624
  flex: variables.$mg-spacing-0 variables.$mg-spacing-0 19.01661%;
  max-width: 19.01661%;

  &:nth-of-type(6n) {
    margin-left: variables.$mg-spacing-0;
  }
}

.mg-grid__col-6 > * {
  // 1.024360667
  flex: variables.$mg-spacing-0 variables.$mg-spacing-0 15.6423%;
  max-width: 15.6423%;

  &:nth-of-type(7n) {
    margin-left: variables.$mg-spacing-0;
  }
}

@media (max-width: variables.$mg-breakpoint-tablet) {
  .mg-grid {
    flex-wrap: wrap;
  }

  .mg-grid > * {
    flex: 0 0 49.18305%;
  }
}

@supports (display: grid) {

  .mg-grid {
    display: grid;
    grid-column: main;
    column-gap: variables.$mg-spacing-200;
    row-gap: variables.$mg-spacing-200;
  }

  @media (min-width: variables.$mg-breakpoint-tablet) {
    .mg-grid {
      grid-auto-flow: column;
    }
  }

  // This is needed when the mg-grid is nested inside an embl-grid, like the news home page.
  @media (max-width: variables.$mg-breakpoint-tablet) {
    .embl-grid .mg-grid {
      grid-column: 1 / -1;
    }
  }

  .mg-grid > * {
    margin: variables.$mg-spacing-0;
    max-width: unset;
  }

  [class*="grid__"] {
    grid-auto-flow: unset;
  }

  .mg-grid__col-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: variables.$mg-breakpoint-tablet) {
    .mg-grid__col-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .mg-grid__col-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    .mg-grid__col-4 {
      grid-template-columns: repeat(2, 1fr);
    }

    .mg-grid__col-5 {
      grid-template-columns: repeat(3, 1fr);
    }

    .mg-grid__col-6 {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: variables.$mg-breakpoint-desktop) {
    .mg-grid__col-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    .mg-grid__col-5 {
      grid-template-columns: repeat(5, 1fr);
    }

    .mg-grid__col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  // Grid Spans

  .mg-grid__col--span-2 {
    grid-column-end: span 2;
  }

  .mg-grid__col--span-3 {
    grid-column-end: span 3;
  }

  .mg-grid__col--span-4 {
    grid-column-end: span 4;
  }

  .mg-grid__col--span-5 {
    grid-column-end: span 5;
  }

  .mg-grid__col--span-6 {
    grid-column-end: span 6;
  }

  .mg-grid__col--span-all {
    grid-column: 1 / -1;
  }

  .mg-grid__row--span-2 {
    grid-row-end: span 2;
  }

  .mg-grid__row--span-3 {
    grid-row-end: span 3;
  }

  .mg-grid__row--span-4 {
    grid-row-end: span 4;
  }

  .mg-grid__row--span-5 {
    grid-row-end: span 5;
  }

  .mg-grid__row--span-6 {
    grid-row-end: span 6;
  }

  .mg-grid__row--span-all {
    grid-row: 1 / -1;
  }
}
