// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* layout  */
.grid-name {
  color: $mg-color-black;
  font-size: 1.375rem;
  margin-bottom: $mg-spacing-50;
  margin-top: $mg-spacing-50;
  min-height: 28px;

  @include devicebreak(small) {
    font-size: 1.625rem;
  }

  span {
    font-size: $mg-font-size-200;
  }
}

.grid_description {
  @extend %paragraph-font-100;

  color: $mg-color-black;
  margin-bottom: 1.25rem;
}

.grid--layout {
  background-color: $mg-color-neutral-300;
  height: $mg-spacing-300;
  margin-bottom: $mg-spacing-25;

  &:nth-child(odd) {
    background-color: $mg-color-neutral-200;
  }

  .column {
    font-size: 0.813rem;
    padding: 0.625rem;
  }
}

/* layout end */
