// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* layout  */
.grid_name {
  color: $mg-color-black;
  font-size: 1.375rem;
  margin-bottom: $spacing-05;
  margin-top: $spacing-05;
  min-height: 28px;

  @include devicebreak(small) {
    font-size: 1.625rem;
  }

  span {
    font-size: $font-size-14;
  }
}

.grid_description {
  @extend %paragragh-font-14;

  color: $mg-color-black;
  margin-bottom: 1.25rem;
}

.grid--layout {
  background-color: $mg-color-neutral-300;
  height: $spacing-09;
  margin-bottom: $spacing-03;

  &:nth-child(odd) {
    background-color: $mg-color-neutral-200;
  }

  .column {
    font-size: 0.813rem;
    padding: 0.625rem;
  }
}

/* layout end */
