@use "../../../assets/scss/variables";

// @import '../../../assets/scss/mixins';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/variables';

// * language row start *//
.language__item {
  @extend %paragraph-font-200;
  @extend %border-bottom;

  display: inline-block;
  line-height: 0.9;
  min-width: 100px;
  padding: variables.$mg-spacing-25 variables.$mg-spacing-50;
}

// * language row end *//
