@use "../../assets/scss/breakpoints";
@use "../../assets/scss/mixins";
@use "../../assets/scss/variables";

// @import '../../assets/scss/variables';
// @import '../../assets/scss/breakpoints';
// @import '../../assets/scss/mixins';

// * loader start *//

// loader animation
@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  @include mixins.animation(loader-animation 2s linear infinite);

  border: 8px solid variables.$mg-color-blue-600;
  border-radius: 50%;
  border-top: 8px solid variables.$mg-color-neutral-300;
  height: 40px;
  width: 40px;

  @include breakpoints.devicebreak(medium) {
    border: 14px solid variables.$mg-color-blue-600;
    border-top: 14px solid variables.$mg-color-neutral-300;
    height: 96px;
    width: 96px;
  }
}

// * loader end *//
