// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/mixins';

/* tertiary start */
.tertiary {
  h4 {
    font-weight: 600;
    margin-bottom: $mg-spacing-100;

    @include devicebreak(medium) {
      margin-bottom: $mg-spacing-300;
    }
  }

  h5 {
    margin-bottom: $mg-spacing-25;

    @include devicebreak(medium) {
      margin-bottom: $mg-spacing-100;
    }
  }
}

/* tertiary end */
