// @import '../../../assets/scss/mixins';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/variables';

// * breadcrumb start *//
.breadcrumb__item {
  @extend %border-none;
  @extend %img_none;

  color: $mg-color-red-900;
  font-size: $mg-font-size-100;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    color: $mg-color-red-900;
  }
}

// * breadcrumb end *//
