@use "../../assets/scss/breakpoints";
@use "../../assets/scss/mixins";
@use "../../assets/scss/variables";

// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* sidebar start */
.sidebar-accordion {
  @extend %background-white;

  padding: 0;
  position: relative;

  &.show-small {
    h6 {
      border-bottom: 2px solid variables.$mg-color-black;

      &::after {
        @include mixins.transform(translateY(-50%) rotateZ(-180deg));
      }
    }

    ul {
      display: block;
      padding: 0;
    }
  }

  ul,
  li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;

    @include breakpoints.devicebreak(medium) {
      a {
        &:hover {
          background-color: variables.$mg-color-neutral-300;
        }
      }
    }
  }

  h6 {
    background-color: variables.$mg-color-neutral-300;
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    padding: variables.$mg-spacing-50;
    position: relative;

    @include breakpoints.devicebreak(medium) {
      display: none;
    }

    &::after {
      @extend %sidebar-chevron;
    }
  }

  ul {
    display: none;
    padding: 0;

    @include breakpoints.devicebreak(medium) {
      display: block;
    }

    & > .active {
      border-bottom: none;

      @include breakpoints.devicebreak(medium) {
        button::after {
          // background:
          //   url(#{$img-path-Icon}/chevron-down-white.svg) no-repeat
          //   center center;
        }
      }

      & > a {
        @include breakpoints.devicebreak(medium) {
          background-color: variables.$mg-color-blue-900;
          color: variables.$mg-color-white;
        }
      }

      & > button::after {
        @include mixins.transform(rotateZ(-180deg));

        top: 1.125rem;

        @include breakpoints.devicebreak(medium) {
          top: variables.$mg-spacing-100;
        }
      }
    }

    & > li {
      background-color: variables.$mg-color-neutral-300;
      position: relative;

      @include breakpoints.devicebreak(medium) {
        background-color: transparent;
        padding: 0;
      }

      button {
        @extend %button;

        float: right;
        height: 1.25rem;
        margin-right: 1.188rem;
        margin-top: -2.188rem;
        width: 1.25rem;

        @include breakpoints.devicebreak(medium) {
          margin-top: -2.688rem;
          top: 2.063rem;
        }

        &::after {
          @extend %sidebar-chevron;

          top: variables.$mg-spacing-100;

          @include breakpoints.devicebreak(medium) {
            top: 2.063rem;
          }
        }
      }
    }

    ul.accordion__panel {
      display: none;
      height: auto;
      padding: 0;

      li {
        a {
          @extend %img_none;

          border: none;
          display: block;
          font-size: variables.$mg-font-size-200;
          font-weight: 400;
          padding: variables.$mg-spacing-50 variables.$mg-spacing-100 variables.$mg-spacing-50 variables.$mg-spacing-150;

          @include breakpoints.devicebreak(medium) {
            font-size: variables.$mg-font-size-300;
            padding-left: variables.$mg-spacing-300;
          }
        }

        &:first-of-type a {
          background-color: transparent;
          color: variables.$mg-color-black;

          @include breakpoints.devicebreak(medium) {
            &:hover {
              background-color: variables.$mg-color-neutral-300;
            }
          }
        }

        &:last-of-type a {
          margin-bottom: 0;
        }
      }
    }
  }

  &.narrow {
    ul.accordion__panel {
      li {
        a {
          @include breakpoints.devicebreak(medium) {
            font-size: 0.875rem;
            padding-left: variables.$mg-spacing-150;
          }
        }

        &:last-of-type a {
          @include breakpoints.devicebreak(medium) {
            margin-bottom: variables.$mg-spacing-200;
          }
        }
      }
    }

    ul > li button::after {
      @include breakpoints.devicebreak(medium) {
        top: 1.625rem;
      }
    }

    li.active {
      button::after {
        @include breakpoints.devicebreak(medium) {
          top: 1.125rem;
        }
      }
    }
  }
}

[dir="rtl"] {
  .sidebar-accordion h6,
  .sidebar-accordion ul li > button {
    &::after {
      left: 24px;
      right: unset;
    }
  }

  .sidebar-accordion {
    ul,
    li {
      padding-right: 0;
    }

    button {
      float: left;
      margin-left: variables.$mg-spacing-100;
      margin-right: 0;
    }

    &.narrow {
      ul.accordion__panel {
        li {
          a {
            @include breakpoints.devicebreak(medium) {
              padding-left: variables.$mg-spacing-100;
              padding-right: variables.$mg-spacing-150;
            }
          }
        }
      }
    }
  }
}

/* sidebar end */
