/* table tag start */
.mg-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  word-break: auto-phrase; // https://gitlab.com/undrr/web-backlog/-/issues/2053
  text-wrap: balance;

  @include devicebreak(medium) {
    width: auto;
  }

  &.mg-table--small {
    th,
    td {
      font-size: $mg-font-size-250;
      -webkit-text-size-adjust: 100%;
    }
  }

  &.mg-table--striped {
    tr {
      @extend %border-none;

      &:nth-child(even) {
        background-color: $mg-color-neutral-200;
      }
    }
  }

  &.mg-table--border {
    border-collapse: collapse;

    th,
    td {
      border: 1px solid $mg-color-neutral-400;
      border-collapse: collapse;
      box-sizing: border-box;
      min-width: 50px;
    }
  }

  &.mg-table--stacked {
    th,
    td {
      display: block;

      @include devicebreak(medium) {
        display: table-cell;
      }
    }

    thead {
      tr {
        display: none;

        @include devicebreak(medium) {
          display: table-row;
        }
      }
    }

    &.mg-table--border {
      tr {
        border: 1px solid $mg-color-neutral-400;

        th,
        td {
          @extend %border-none;

          @include devicebreak(medium) {
            border: 1px solid $mg-color-neutral-400;
          }
        }
      }
    }
  }
}

.mg-table th,
.mg-table td {
  font-size: $mg-font-size-300;
  line-height: 1.4;
  padding: $mg-spacing-25;
  vertical-align: top;

  @include devicebreak(medium) {
    padding: $mg-spacing-25 $mg-spacing-200 $mg-spacing-25 $mg-spacing-25;
  }
}

.mg-table thead tr th {
  // background-color: $mg-color-neutral-300;
  font-weight: 600;
  text-align: center;
}

.mg-table tbody tr {
  @extend %border-bottom;
}

.mg-table--scroll {
  overflow-x: auto;
  width: max-content;
  min-width: 100%;

  thead {
    th {
      white-space: nowrap;
    }
  }

  th,
  td {
    -webkit-text-size-adjust: 100%;
  }
}

[dir="rtl"] {
  .mg-table th,
  .mg-table td {
    text-align: right;

    @include devicebreak(medium) {
      padding: $mg-spacing-25 $mg-spacing-25 $mg-spacing-25 $mg-spacing-200;
    }
  }
}

// burmese lang
// :lang(my) {
//   th,
//   td {
//     line-height: 1.7;
//   }
// }

/* table tag end */
