.chip {
  align-items: center;
  background: $mg-color-neutral-50;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
  display: inline-flex;
  min-height: $mg-spacing-250;
  padding: $mg-spacing-25 $mg-spacing-50;

  &:hover {
    background-color: $mg-color-neutral-300;
  }

  &.chip__cross {
    &::before {
      // background: url(#{$img-path-Iconfourback}/times-red.svg) no-repeat left;
      content: "";
      display: inline-flex;
      height: 22px;
      margin-left: -$mg-spacing-25;
      margin-right: $mg-spacing-25;
      padding-right: mg-rem(14);
      position: relative;
      top: 0;
      width: auto;
    }
  }
}

[dir="rtl"] {
  .chip__cross::before {
    margin-left: $mg-spacing-25;
    margin-right: -$mg-spacing-25;
  }
}
