.mg-mega-wrapper {
  font-family: $dts-menu-font-family;
}

.mg-mega-topbar {
  background: transparent;
  justify-content: flex-end;

  &__item {
    font-size: $mg-font-size-400;
    font-weight: 700;
    color: $dts-coal-700;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: 2rem;

    &:hover {
      color: $dts-undrr-blue-brand;
      background: transparent;
      border-color: $dts-undrr-blue-brand;
    }
  }
}