@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.heading-container {
  background-color: #232e3e;
  color: $mg-color-white;
  justify-content: center;
  overflow: hidden;
  padding-bottom: $mg-spacing-500;
  padding-top: $mg-spacing-500;

  h4 {
    margin-top: $mg-spacing-800;

    @include devicebreak(medium) {
      margin-top: 0;
    }
  }

  h2,
  h4 {
    @include devicebreak(small) {
      padding: 0 $mg-spacing-100;
    }
  }
}
