@use "../../../assets/scss/variables";

// @import "../../../assets/scss/breakpoints";
// @import "../../../assets/scss/variables";

.mg-share {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: variables.$mg-spacing-100;
}

.mg-share__header {
  font-family: variables.$mg-font-family;
  color: variables.$mg-color-text;
  font-weight: 600;
  font-size: variables.$mg-font-size-300;
  display: flex;
  justify-content: start;
}

.mg-share__buttons {
  display: flex;
  gap: variables.$mg-spacing-50;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.mg-share__button {
  width: 4rem;
  height: 4rem;
  padding: variables.$mg-spacing-100;
  border-radius: variables.$mg-radius-button;
  background-color: variables.$mg-color-button-background;
  color: variables.$mg-color-button;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: variables.$mg-border-width-button solid variables.$mg-border-color-button;

  &:hover {
    background-color: rgba(variables.$mg-color-button-background--hover, 0.8);
  }

  &:focus-visible {
    box-shadow: 0 0 4px variables.$mg-color-button-background--hover;
    outline: 0;
  }
}

.mg-share__copy-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 0 solid variables.$mg-border-color-button;
  color: variables.$mg-color-button;
  font-family: variables.$mg-font-family;
  padding: variables.$mg-spacing-100;
  background-color: rgba(variables.$mg-color-button-background, 1);

  &:hover .mg-share__copy-text {
    text-decoration: underline;
  }
}

.mg-share__clip-icon {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 18px;
  }
}

.mg-share__copy-text {
  color: variables.$mg-color-button;
  font-size: variables.$mg-font-size-100;
  overflow: hidden;
  scrollbar-width: 0;
  height: 17px;
  flex: auto;
  align-items: start;
  margin-right: 1em;
  margin-left: 1em;
}

.mg-share__stack-icon {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(variables.$mg-color-button-background, 0.5);

  img {
    width: 18px;
  }
}
