// @use "sass:color";
/**
 * @tokens MCR Colors
 * @presenter Color
 *
 * https://github.com/UX-and-I/storybook-design-token
 */

// MCR Specific colors
$mcr-color-purple: #591a61;
$mcr-color-purple-800: #6e2677;
$mcr-color-purple-200: #ded0d7;
$mcr-color-green: rgb(10 105 105);
$mcr-color-green-800: rgb(0 138 138);
$mcr-color-green-200: #e2f1f3;
$mcr-color-orange: $sendai-orange-900;
$mcr-color-primary: $mcr-color-purple;

// MCR-COLORS HOVER
$mg-color-interactive: $mcr-color-primary;
$mg-color-interactive-active: $mcr-color-primary;

// COMPONENTS
$mg-color-label: $mg-color-interactive;
$mg-color-label--hover: $mg-color-interactive;
$mg-radius-label: $mg-spacing-100;
$mg-color-button-background: $mcr-color-primary;
$mg-color-button-background--hover: $mcr-color-purple-800;
$mg-radius-button: $mg-spacing-300;
$mg-border-width-button: 2px;
$mg-padding-button: $mg-spacing-150 $mg-spacing-300;
$mg-font-size-button: $mg-font-size-400;

// Hero
$mg-color-hero: $mg-color-interactive;
$mg-spacing-hero-overlay: 2rem 0;

// Tabs
$mg-color-tabbar-background: none;

// testing
// $mg-color-tabbar-background: $mcr-color-purple-200;
$mg-color-tab-background: $mg-color-neutral-0;
$mg-color-tab-border: $mcr-color-purple-200;
$mg-color-tab-border--hover: $mcr-color-purple-200;
$mg-color-tab-border--active: $mg-color-tab-background;
$mg-color-tab-background--hover: $mg-color-neutral-200;
$mg-radius-tab: $mg-spacing-150 $mg-spacing-150 0 0;
$mg-padding-tab: $mg-spacing-200 $mg-spacing-300;
$mg-color-text-tab: $mg-color-neutral-200;
$mg-color-text-tab-active: $mg-color-neutral-700;
$mg-padding-tab-section: $mg-spacing-500;
$mg-radius-tab-section: $mg-spacing-200;
$mg-box-shadow-tab-section: rgb(0 0 0 / 0.24) 0 6px 5px 0;

/* variables end */
