/**
 * @tokens IRP Colors
 * @presenter Color
 *
 * https://github.com/UX-and-I/storybook-design-token
 */

// IRP Specific colors
$irp-color-primary: #0f78bf;
$irp-color-green: rgb(140 198 63);

// IRP-COLORS HOVER
$mg-color-interactive: $irp-color-primary;
$mg-color-interactive-active: $irp-color-primary;

// COMPONENTS
$mg-color-label: $mg-color-interactive;
$mg-color-label--hover: $mg-color-interactive;
$mg-radius-label: $mg-spacing-50;
$mg-color-button-background: $irp-color-primary;
$mg-color-button-background--hover: $sendai-orange-900;
$mg-radius-button: $mg-spacing-50;

// Hero
$mg-color-hero: $mg-color-interactive;
$mg-spacing-hero-overlay: 2rem 0;

// Tabs
$mg-color-tabbar-background: none;
$mg-color-text-tab: $mg-color-neutral-500;
$mg-color-text-tab-active: $mg-color-neutral-700;
$mg-color-tab-background: $mg-color-white;
$mg-color-tab-background--hover: $mg-color-white;
$mg-radius-tab: $mg-spacing-0 $mg-spacing-0 0 0;
$mg-color-tab-border: $mg-color-neutral-300;
$mg-color-tab-border--hover: $irp-color-green;
$mg-color-tab-border--active: $mg-color-tab-border--hover;
$mg-tabs-border-bottom: true;

/* variables end */
