// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* small copy start */
.smallcopy__box {
  margin-bottom: $mg-spacing-25;

  &-locale {
    margin-bottom: $mg-spacing-150;

    strong {
      font-size: $mg-font-size-300;
      letter-spacing: 0.03em;
    }
  }

  strong {
    margin-right: $mg-spacing-25;
  }
}

/* small copy end */
