@use "../../../assets/scss/variables";

// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

label {
  @extend %paragraph-font-300;

  display: block;

  &.error {
    @extend %paragraph-font-300;

    color: variables.$mg-color-black;
    margin-top: 0;
  }

  &.disabled {
    color: variables.$mg-color-neutral-400;
  }
}

.help {
  color: variables.$mg-color-neutral-500;
  display: block;
  font-size: variables.$mg-font-size-200;
  margin-bottom: 0;
  margin-top: variables.$mg-spacing-25;
}

.error {
  color: variables.$mg-color-red-900;
  font-size: variables.$mg-font-size-300;
  margin-bottom: 0;
  margin-top: variables.$mg-spacing-25;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="date"],
textarea {
  @extend %background-white;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid variables.$mg-color-black;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  font-family: variables.$mg-font-family;
  font-size: variables.$mg-font-size-300;
  height: 46px;
  margin-top: variables.$mg-spacing-25;
  padding: 0.625rem;
  width: 100%;

  &::placeholder {
    color: variables.$mg-color-neutral-500;
  }

  &:focus {
    box-shadow: 0 0 4px variables.$mg-color-blue-800;
    outline: 0;
  }

  input[type="date"],
  input[type="search"] {
    padding-left: variables.$mg-spacing-200;
    position: relative;
  }

  &.disabled {
    background-color: variables.$mg-color-white;
    border: 2px solid variables.$mg-color-neutral-400;
    color: variables.$mg-color-neutral-400;

    &::placeholder {
      color: variables.$mg-color-neutral-400;
    }
  }

  &.error {
    border: 2px solid variables.$mg-color-red-900;
  }
}

input[type="date"] {
  // background:
  //   url(#{$img-path-Icon}/calender-black.svg) no-repeat left 14px
  //   bottom 12px;
  background-color: variables.$mg-color-white;
  color: variables.$mg-color-neutral-500;
  padding-left: variables.$mg-spacing-200;

  // &.disabled {
  //   background-image: url(#{$img-path-Icon}/date-disabled.svg);
  // }
}

input[type="search"] {
  // background:
  //   url(#{$img-path-Icon}/search-black.svg) no-repeat left 14px bottom
  //   12px;
  color: #a9b1b7;
  padding-left: 2.5rem;

  // &.disabled {
  //   background-image: url(#{$img-path-Icon}/search-gray.svg);
  // }
}

.help {
  &.disabled {
    color: variables.$mg-color-neutral-400;
  }
}

textarea {
  height: auto;
  max-width: 100%;
  resize: vertical;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  appearance: none;
  left: 3px;
  opacity: 0;
  position: absolute;
}

[dir="rtl"] {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="date"],
  textarea {
    @media (hover: none) and (pointer: coarse) {
      input[type="date"] {
        padding-right: variables.$mg-spacing-100;
      }
    }
  }

  // input[type="date"],
  // input[type="search"] {
  //   background:
  //     url(#{$img-path-Icon}/calender-black.svg) no-repeat right 14px
  //     bottom 12px;
  //   background-color: $mg-color-white;
  //   padding-left: 0.635rem;
  //   padding-right: $mg-spacing-200;
  //   text-align: right;
  // }

  // input[type="search"] {
  //   background:
  //     url(#{$img-path-Icon}/search-black.svg) no-repeat right 14px
  //     bottom 12px;
  // }

  // input[type="date"] {
  //   &.disabled {
  //     background-image: url(#{$img-path-Icon}/date-disabled.svg);
  //   }
  // }

  input[type="date"]::-webkit-calendar-picker-indicator {
    left: inherit;
    position: absolute;
    right: 27px;
  }

  input::-webkit-date-and-time-value {
    margin-right: 0;
    text-align: right;
  }
}

// burmese lang
:lang(my) {
  .error {
    line-height: 1.7;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="date"],
  textarea {
    font-family: variables.$mg-font-family;
  }
}
