// Define your breakpoints if not already defined
// $mg-breakpoint-mobile: 480px;
// $mg-breakpoint-tablet: 768px;
// $mg-breakpoint-desktop: 1024px;
// $mg-breakpoint-desktop: 1440px;

.mg-container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
  max-width: 100%;

  @media (min-width: $mg-breakpoint-mobile) {
    max-width: $mg-breakpoint-mobile;
  }

  @media (min-width: $mg-breakpoint-tablet) {
    max-width: $mg-breakpoint-tablet;
  }

  @media (min-width: $mg-breakpoint-desktop) {
    max-width: $mg-breakpoint-desktop;
  }

  @media (min-width: $mg-breakpoint-desktop-wide) {
    max-width: $mg-breakpoint-desktop-wide;
  }
}

// A slim variant that does not allow for the wide breakpoint
.mg-container--slim {
  @media (min-width: $mg-breakpoint-mobile) {
    max-width: $mg-breakpoint-mobile;
  }

  @media (min-width: $mg-breakpoint-tablet) {
    max-width: $mg-breakpoint-tablet;
  }

  @media (min-width: $mg-breakpoint-desktop) {
    max-width: $mg-breakpoint-desktop;
  }
}

.mg-container--spacer {
  --mg-container-spacer: #{$mg-container-spacer};

  // exclude spacing for certain combinations of elements
  > .mg-u-sr-only:first-child ~ .mg-hero,
  > .mg-hero:first-child,
  > .has-background + .mg-hero,
  > .mg-hero + .has-background,
  > .mg-mega-wrapper,
  > .mg-mega-wrapper + .mg-hero,
  > .has-background + .has-background {
    --mg-container-spacer: 0;
  }

  // Between element spacing
  // This will replace --mg-gutenberg-spacer
  // https://git.un.org/undrr/web-backlog/-/issues/623
  // https://gitlab.com/undrr/web-backlog/-/issues/1221
  > * {
    margin-top: var(--mg-container-spacer);
  }
}

// A variant with padding at top and bottom
.mg-container--padded {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
