@use "../../../assets/scss/variables";

// Define your breakpoints if not already defined
// $mg-breakpoint-mobile: 480px;
// $mg-breakpoint-tablet: 768px;
// $mg-breakpoint-desktop: 1024px;
// $mg-breakpoint-desktop: 1440px;

.mg-container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 100%;

  @media (min-width: variables.$mg-breakpoint-mobile) {
    max-width: variables.$mg-breakpoint-mobile;
  }

  @media (min-width: variables.$mg-breakpoint-tablet) {
    max-width: variables.$mg-breakpoint-tablet;
  }

  @media (min-width: variables.$mg-breakpoint-desktop) {
    max-width: variables.$mg-breakpoint-desktop;
  }

  @media (min-width: variables.$mg-breakpoint-desktop-wide) {
    max-width: variables.$mg-breakpoint-desktop-wide;
  }
}

.mg-container--spacer {
  --mg-container-spacer: #{variables.$mg-container-spacer};

  // exclude spacing for cetrain combinations of elements
  > .mg-u-sr-only:first-child ~ .mg-hero,
  > .mg-hero:first-child,
  > .has-background + .mg-hero,
  > .mg-hero + .has-background,
  > .has-background + .has-background {
    --mg-container-spacer: 0;
  }

  // Between element spacing
  // This will replace --mg-gutenberg-spacer
  // https://git.un.org/undrr/web-backlog/-/issues/623
  // https://gitlab.com/undrr/web-backlog/-/issues/1221
  > * {
    margin-top: var(--mg-container-spacer);
  }
}