@use "../../../assets/scss/breakpoints";
@use "../../../assets/scss/variables";

// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';
// @import '../../../assets/scss/base';

/* image with caption start */
.image {
  &-figcaption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .image__caption {
      margin: variables.$mg-spacing-50 variables.$mg-spacing-100 0;

      @include breakpoints.devicebreak(medium) {
        margin: variables.$mg-spacing-150 0 0;
        width: 58.33333%;
      }
    }
  }
}

.image-figcaption.medium {
  @include breakpoints.devicebreak(medium) {
    margin: 0 auto;
    width: 58.3333%;

    .image__caption {
      width: 100%;
    }
  }
}

.image-figcaption.portrait {
  align-items: flex-end;

  @include breakpoints.devicebreak(medium) {
    .image-figcaption__cart {
      width: 33.33333%;
    }

    .image__caption {
      display: block;
      margin: 0 0 0 variables.$mg-spacing-100;
      padding-bottom: 0;
      width: 25%;

      p {
        font-size: variables.$mg-font-size-200;
        line-height: 1.4;
        margin-bottom: variables.$mg-spacing-50;
        padding: 0;

        + .credits {
          border-top: 1px solid variables.$mg-color-neutral-500;
          margin-left: 0;
          padding: variables.$mg-spacing-50 0 0 0;
        }
      }
    }
  }

  .credits {
    border-left: 0;
    border-right: 0;
    margin-bottom: variables.$mg-spacing-50;
  }

  .author__caption {
    font-size: variables.$mg-font-size-200;
    line-height: 1.5;
  }
}

.image-figcaption__cart {
  img {
    @extend %img-cover;

    display: block;
  }
}

@include breakpoints.devicebreak(medium) {
  [dir="rtl"] {
    .image-figcaption.portrait {
      .image {
        &__caption {
          margin: 0 variables.$mg-spacing-100 0 0;
        }
      }

      .credits {
        border-right: 0;
        margin-right: 0;
        padding: variables.$mg-spacing-50 0;
        padding-right: 0;
      }
    }
  }
}

/* image with caption end */
