/* Noto Kufi Arabic - Arabic Headings Font */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('https://assets.undrr.org/testing/static/fonts/noto-kufi-arabic/v1.0.0/Regular/NotoKufiArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
