/* Noto Kufi Arabic - Arabic Headings Font (700 weight only) */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('https://assets.undrr.org/testing/static/fonts/noto-kufi-arabic/v1.0.0/Bold/noto-kufi-arabic-arabic-700-normal.woff2') format('woff2'),
       url('https://assets.undrr.org/testing/static/fonts/noto-kufi-arabic/v1.0.0/Bold/noto-kufi-arabic-arabic-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
