// @import '../../assets/scss/breakpoints';
// @import '../../assets/scss/variables';
// @import '../../assets/scss/mixins';

/* sidebar data start */
.sidebar-accordion {
  li > a {
    @extend %img_none;

    border: none;
    border-bottom: 1px solid $mg-color-neutral-500;
    display: block;
    font-size: $mg-font-size-300;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 0;
    padding: $mg-spacing-50;

    @include devicebreak(medium) {
      padding: $mg-spacing-100;
    }
  }

  &.narrow {
    li > a {
      @include devicebreak(medium) {
        padding: $mg-spacing-50;
      }
    }
  }
}

[dir="rtl"] {
  .sidebar-accordion {
    .accordion__panel {
      li > a {
        padding-left: $mg-spacing-100;
        padding-right: $mg-spacing-150;

        @include devicebreak(medium) {
          padding-right: $mg-spacing-300;
        }
      }
    }
  }
}

/* sidebar data end */
