.mg-dldt-header {
  display: flex;
  justify-content: space-between;
  height: 108px;

  @include devicebreak(small) {
    height: 86px;
  }

  &__logo {
    position: relative;
    max-height: 86px;
    padding: 11px 0;

    @include devicebreak(small) {
      padding: 0;
    }

    img {
      height: 100%;
    }

    &-text {
      display: none;

      @include devicebreak(large) {
        position: absolute;
        display: inline;
      }
    }
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;

    @include devicebreak(small) {
      display: block;
    }
  }
}