// @import '../../../../assets/scss/variables';
// @import '../../../../assets/scss/breakpoints';
// @import '../../../../assets/scss/mixins';

/* content-card start */
$colors: (
  'yellow': $mg-color-yellow,
  'red': $mg-color-red-900,
  'green': $mg-color-green,
  'blue': $mg-color-azure,
  'gray': $mg-color-neutral-100,
);
$backgroundcolors: (
  'yellow': $mg-color-yellow-light,
  'red': $mg-color-red-600,
  'green': $mg-color-green-light,
  'blue': $mg-color-azure-light,
  'gray': $mg-color-neutral-100,
);

//MG CARD using CSS GRID
.mg-card {
  display: inline-block;
  position: relative;

  // Vertical CARD
  &__vc {
    max-width: 25rem;
  }

  // Horizontal CARD
  &__hc {
    background: $mg-color-white;
    color: $mg-color-neutral-800;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr auto;

    @media (min-width: 31.25em) {
      grid-template-columns: 160px repeat(2, 1fr);
      grid-template-rows: 1fr auto;
    }

    @media (min-width: 50em) {
      grid-template-columns: 300px repeat(2, 1fr);
    }

    @media (min-width: 59em) {
      grid-template-columns: 330px repeat(2, 1fr);
    }
  }

  // Main Card css
  &__visual {
    align-items: flex-end;
    background-color: $mg-color-blue-800;
    display: flex;
    justify-content: flex-end;
  }

  &__image {
    height: 100%;
    width: 100%;
  }

  &__share {
    cursor: pointer;
    display: inline-block;
    padding: 0.56em;
    position: absolute;
    z-index: 101;
  }

  &__label {
    background: $mg-color-neutral-50;
    border-radius: 0.3em;
    color: $mg-color-blue-800;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    margin-right: 0.5em;
    padding: 0.3em 0.5em;
    text-decoration: none;

    // &:hover {
    //     background: #eef0f7;
    // }

    // &--active {
    //     background: #d4d4d4;
    //     font-weight: bold;
    // }
  }

  &__content {
    background-color: $mg-color-white;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 1.5rem;

    @media (min-width: 31.25em) {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }
  }

  &__title {
    padding-top: 1.5em;

    a {
      color: $mg-color-blue-800;
      cursor: pointer;
      display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;

      // &:hover {
      //     background: #2dabff;
      // }
    }

    .active {
      background: $mg-color-neutral-50;
      font-weight: bold;
    }
  }

  &__title a::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition-duration: 125ms;
    transition-duration: 125ms;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    z-index: 100;
  }

  &__summaryText {
    line-height: 1.2em;
    padding-top: 1em;
  }

  &__text-link {
    color: $mg-color-blue-800;
    cursor: pointer;
    text-decoration: none;
  }

  &__label,
  &__button {
    position: relative;
    z-index: 101;
  }

  &__label,
  &__text-link:hover {
    text-decoration: underline;
  }

  &__button {
    background: $mg-color-button-background;
    color: $mg-color-white;
    // border-radius: .5em;
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    text-decoration: none;

    &:hover {
      background: $mg-color-hover-primary;
    }
  }
} //END of CARD

// [dir='rtl'] {
//   .content-card {
//     .image {
//       &::before {
//         @include transform(scaleX(-1));
//       }
//     }

//     &:hover {
//       .cta {
//         &--space::after {
//           @include transform(translate(-50%, 0) rotate(180deg));
//         }

//         &--arrow::after {
//           margin-left: 0;
//           margin-right: 0.25rem;
//         }
//       }
//     }
//   }
// }

/* content-card end */
