// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/mixins';

/* page title start */
.page-title {
  h2 {
    font-family: $mg-font-family;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }

  h4 {
    font-weight: 400;
    margin-bottom: $mg-spacing-25;
  }

  &.white {
    h2,
    h4 {
      color: $mg-color-white;
    }
  }
}

:lang(my) {
  .page-title {
    h2 {
      font-family: $mg-font-family;
    }
  }
}

#{$cyrillic} {
  .page-title {
    h2 {
      font-family: $mg-font-family;
    }
  }
}

/* page title end */
