@use "../../../assets/scss/breakpoints";
@use "../../../assets/scss/mixins";
@use "../../../assets/scss/variables";

// @import '../../../../assets/scss/variables';
// @import '../../../../assets/scss/breakpoints';
// @import '../../../../assets/scss/mixins';

/* statscard start */
.stats-card {
  @include mixins.transition(300ms all);

  background-color: variables.$mg-color-neutral-200;
  box-sizing: border-box;
  overflow-wrap: break-word;

  @include breakpoints.devicebreak(small) {
    max-width: 21.938rem;
    padding: variables.$mg-spacing-200;
  }

  h3 {
    font-weight: 600;
    margin-bottom: variables.$mg-spacing-200;

    @include breakpoints.devicebreak(medium) {
      margin-bottom: variables.$mg-spacing-400;
    }
  }

  h2 {
    @include mixins.transition(300ms all);

    color: variables.$mg-color-neutral-200;
    font-family: variables.$mg-font-family;
    font-size: variables.$mg-spacing-400;
    letter-spacing: 0.05rem;
    margin-bottom: variables.$mg-spacing-100;
    text-shadow:
      -1px -1px 0 variables.$mg-color-black,
      1px -1px 0 variables.$mg-color-black,
      -1px 1px 0 variables.$mg-color-black,
      1px 1px 0 variables.$mg-color-black;

    @supports (-webkit-text-stroke: 2px variables.$mg-color-black) {
      text-shadow: none;
      -webkit-text-stroke: 2px variables.$mg-color-black;
    }

    @include breakpoints.devicebreak(medium) {
      font-size: 6.875rem;
      line-height: 1.09;
      margin-bottom: variables.$mg-spacing-150;
    }
  }

  h4 {
    letter-spacing: 0;
    margin-bottom: variables.$mg-spacing-25;

    @include breakpoints.devicebreak(medium) {
      margin-bottom: variables.$mg-spacing-50;
    }
  }

  p {
    margin: 0;

    @include breakpoints.devicebreak(medium) {
      font-size: variables.$mg-font-size-500;
    }
  }

  &.x-large {
    padding: variables.$mg-spacing-200;

    @include breakpoints.devicebreak(medium) {
      max-width: 42.75rem;
      padding: variables.$mg-spacing-500;
    }

    h2 {
      font-size: variables.$mg-font-size-500;

      @include breakpoints.devicebreak(medium) {
        font-size: 7.5rem;
      }
    }

    h3 {
      font-size: variables.$mg-spacing-200;
      font-weight: 700;

      @include breakpoints.devicebreak(medium) {
        font-size: 3.438rem;
      }
    }

    h4 {
      font-weight: 600;

      @include breakpoints.devicebreak(small) {
        font-size: 1.875rem;
      }
    }
  }

  &.large {
    @include breakpoints.devicebreak(medium) {
      max-width: 28rem;
      padding: variables.$mg-spacing-500 variables.$mg-spacing-300;
    }
  }

  &.medium {
    padding: variables.$mg-spacing-300;

    @include breakpoints.devicebreak(medium) {
      max-width: variables.$mg-width-300;

      h4 {
        font-weight: 600;
      }
    }

    p {
      font-size: variables.$mg-font-size-400;
    }
  }

  &.small {
    max-width: 10.625rem;
    padding: variables.$mg-spacing-100;

    @include breakpoints.devicebreak(medium) {
      max-width: 13.25rem;
      padding: variables.$mg-spacing-150;
    }

    h2 {
      font-size: variables.$mg-font-size-500;
      height: variables.$mg-spacing-300;
      white-space: nowrap;

      @include breakpoints.devicebreak(medium) {
        font-size: variables.$mg-font-size-400;
      }
    }

    h4 {
      font-size: variables.$mg-font-size-400;

      @include breakpoints.devicebreak(medium) {
        font-size: variables.$mg-font-size-500;
      }
    }

    p {
      font-size: variables.$mg-font-size-200;
      word-break: normal;

      @include breakpoints.devicebreak(medium) {
        font-size: variables.$mg-font-size-300;
      }
    }
  }

  &:hover {
    // color map
    $colors: (
      "yellow": variables.$mg-color-yellow,
      "red": variables.$mg-color-red-900,
      "green": variables.$mg-color-green,
      "blue": variables.$mg-color-azure,
    );

    background-color: variables.$mg-color-yellow;

    h2 {
      color: variables.$mg-color-black;
    }

    @each $name, $color in $colors {
      &.#{$name} {
        background-color: #{$color};
      }
    }
  }
}

:lang(my) {
  .stats-card {
    h2 {
      font-family: variables.$mg-font-family;
    }
  }
}

#{variables.$cyrillic} {
  .stats-card {
    h2 {
      font-family: variables.$mg-font-family;
    }
  }
}
