@import "../../assets/scss/variables";

.mg-snackbar-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -300%);
  transition: transform 0.3s ease-in-out;

  &__open {
    transform: translate(-50%, 0%);
  }
}

.mg-snackbar {
  display: flex;
  align-items: center;
  background-color: white;
  color: $mg-color-black;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
  fill: black;

  // severity
  &__error {
    background-color: #d53939;
    fill: white;
  }

  &__warning {
    background-color: #faf6d9;
  }

  &__info {
    background-color: #dde8f0;
  }

  &__success {
    background-color: #dff106;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__message {
      margin-right: 20px;
    }
  }
}

.mg-snackbar__icon {
  margin-right: 10px;
  font-size: 20px;
  width: 25px;
  height: 25px;
}
