/* Roboto */
$font-path-roboto: "https://assets.undrr.org/static/fonts/roboto/v1.0.0" !default;

@import "../fonts/roboto/roboto";

/* Roboto Condensed */
$font-path-roboto-condensed: "https://assets.undrr.org/static/fonts/roboto-condensed/v1.0.0" !default;

@import "../fonts/roboto-condensed/roboto-condensed";

/* Arabic Fonts */
/* Noto Kufi Arabic - for headings in Arabic */
@import "../fonts/noto-kufi-arabic/noto-kufi-arabic";

/* Dubai - for body text in Arabic */
@import "../fonts/dubai/dubai";
