// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* Accordian start */
.accordion {
  @extend %background-white;

  padding: 0;
  position: relative;

  li {
    border-bottom: 1px solid $mg-color-neutral-500;
    cursor: pointer;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 0;
    position: relative;

    button {
      @extend %button;

      font-size: $mg-font-size-500;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.15;
      margin: 0 auto;
      padding: $mg-spacing-50 0 $mg-spacing-100;
      text-align: left;
      width: 100%;

      &::before {
        @include transition(all 0.3s ease);

        // background: url(#{$img-path-Icon}/chevron-down.svg) no-repeat center center;
        border-top-color: #f3f3f3;
        content: "";
        height: 1.25rem;
        margin-left: $mg-spacing-100;
        position: absolute;
        right: 0;
        top: $mg-spacing-100;
        width: 1.25rem;
      }

      &.accordion--active {
        &::before {
          @include transform(rotateZ(-180deg));
        }
      }
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

[dir="rtl"] {
  .accordion {
    li {
      button {
        text-align: right;

        &::before {
          left: 0;
          margin-left: 0;
          right: unset;
        }

        &.accordion--active {
          padding-right: 0;

          &::before {
            @include transform(rotateZ(180deg));
          }
        }
      }
    }
  }
}

.accordion__panel {
  display: none;
  height: auto;
  padding: $mg-spacing-150;

  @include devicebreak(medium) {
    padding: $mg-spacing-200;
  }
}

[data-accordion="mobile"] {
  .desktop {
    &-visible {
      @include devicebreak(medium) {
        display: block !important;
      }
    }

    &-event-none {
      @include devicebreak(medium) {
        pointer-events: none;
      }
    }
  }
}

// burmese lang
:lang(my) {
  .accordion {
    li {
      button {
        font-family: $mg-font-family;
      }
    }
  }
}

/* Accordian end */
