@use "../../../assets/scss/mixins";
@use "../../../assets/scss/variables";

// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* details tag start */
details {
  summary {
    @extend %paragraph-font-300;

    list-style-type: none;
    outline: 0;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      // background:
      //   url(#{$img-path-Icon}/chevron-small-right.svg) no-repeat left
      //   center;
      content: "";
      display: inline-block;
      height: 14px;
      margin-right: variables.$mg-spacing-25;
      width: 14px;
    }
  }

  p {
    @extend %paragraph-font-200;
  }

  &[open] {
    summary {
      margin-bottom: 0.5rem;

      &::before {
        // background:
        //   url(#{$img-path-Icon}/chevron-small-down.svg) no-repeat left
        //   center;
        content: "";
        display: inline-block;
        height: 14px;
        width: 14px;
      }
    }
  }
}

[dir="rtl"] {
  details {
    summary::before {
      @include mixins.transform(translate(0) rotate(180deg));

      margin-left: variables.$mg-spacing-25;
      margin-right: 0;
    }

    &[open] {
      summary::before {
        @include mixins.transform(translate(0) rotate(0deg));
      }
    }
  }
}

/* details tag end */
