.mg-tabs__list {
  background: $mg-color-tabbar-background;
  width: 100%;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  position: relative;

  @if $mg-tabs-border-bottom {
    &:after {
      content: " ";
      width: 100%;
      height: 1px;
      top: -$mg-spacing-25;
      position: relative;
      z-index: -1;
      border-bottom: $mg-spacing-25 solid $mg-color-tab-border;
    }
  }
}

.mg-tabs__item {
  display: inline-block;

  // position: relative;
  -ms-flex-preferred-size: max-content;
  flex-basis: max-content;
  padding: 0;
}

// With the introdcution of stacked and horizontal tabs we changed
// the html structure so that the content is grouped under the li.
// We scopped the css changes to ensure backwards compatibility.
.mg-tabs--stacked,
.mg-tabs--horizontal {
  .mg-tabs-content {
    padding-left: 0; // unset the li style padding
    display: grid;
  }

  .mg-tabs__link.is-active + .mg-tabs-content {
    display: block;
  }
}

// Shared styles for stacked tabs
@mixin stacked-tabs {
  .mg-tabs__list {
    display: flex;
    flex-direction: column; // Stack tabs vertically
  }

  .mg-tabs__item {
    width: 100%; // Make each tab take full width
    margin-bottom: $mg-spacing-25; // Add spacing between tabs
  }

  .mg-tabs__section {
    padding: $mg-spacing-150;
  }
}

.mg-tabs--stacked { 
  @include stacked-tabs;
}

.mg-tabs--horizontal {
  // for smaller screens we mimic stacked tabs
  @media (max-width: $mg-breakpoint-mobile) {
    @include stacked-tabs;
  }

  @media (min-width: $mg-breakpoint-mobile) {
    .mg-tabs__list {
      display: grid;
      min-width: 800px;
      grid-template-areas:
        "a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a a"
        "b b b b b b b b b b b b b b b b b b b b b b b b b b b b b b b b b";
    }

    .mg-tabs__item {
      grid-row: 1;
      display: flex;
    }

    .mg-tabs__link {
      width: max-content; // force the tab title to be one line and not squisshed by min-content
      text-align: center;
      flex-grow: 1;
    }

    .mg-tabs-content {
      width: 100%;
      height: 100%;
      grid-row: 2;
      grid-column: 1 / -1;
      grid-area: b;
      list-style-type: none;
    }
  }

  // edge case with css grid and not selecting even though not visible
  .mg-tabs-content[hidden] {
    display: none;
  }
}

.mg-tabs__link {
  border: none;
  border-radius: $mg-radius-tab;
  color: $mg-color-text-tab;
  font-family: $mg-font-family;
  font-size: $mg-font-size-400;
  font-weight: 600;
  line-height: 1.421;
  margin: 0;
  display: block;
  outline: 0;
  padding: $mg-padding-tab;
  position: relative;
  text-decoration: none;
}

.mg-tabs__link:hover,
.mg-tabs__link:focus {
  background: $mg-color-tab-background--hover;
  border-bottom: $mg-spacing-25 solid $mg-color-tab-border--hover;
  color: $mg-color-text-tab-active;
  z-index: 1150;
  text-decoration: none;
}

.mg-tabs__link.is-active {
  color: $mg-color-text-tab-active;
  background-color: $mg-color-tab-background;
  text-shadow: none;
  border-bottom: $mg-spacing-25 solid $mg-color-tab-border--active;
}

.mg-tabs__link.is-active:hover,
.mg-tabs__link.is-active:focus {
  background: $mg-color-tab-background;
  border-bottom: $mg-spacing-25 solid $mg-color-tab-border--hover;
  color: $mg-color-text-tab-active;
}

.mg-tabs__section {
  background-color: $mg-color-tab-section-background;
  box-shadow: $mg-box-shadow-tab-section;
  padding: $mg-padding-tab-section;
  border-radius: 0 0 $mg-radius-tab-section $mg-radius-tab-section;
}

[dir="rtl"] {
  .mg-tabs {
    > ul {
      padding-right: 0;

      @include devicebreak(medium) {
        padding-right: $mg-spacing-300;
      }

      li {
        margin-left: $mg-spacing-100;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}

/* Tab end */
