//Refactoring to suit our needs and integration with the Gutenberg Tabs
.mg-tabs__list {
  background: $mg-color-blue-50;
  width: 100%;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
}

.mg-tabs__item {
  display: inline-block;
  position: relative;
  -ms-flex-preferred-size: max-content;
  flex-basis: max-content;
  padding: 0;
}

.mg-tabs__link {
  border: none;
  font-family: $mg-font-family;
  font-size: $mg-font-size-400;
  font-weight: 600;
  color: $mg-color-neutral-700;
  line-height: 1.421;
  margin: 0;
  display: block;
  outline: 0;
  padding: $mg-spacing-75 $mg-spacing-150;
  position: relative;
  text-decoration: none;
}
.mg-tabs__link:hover,
.mg-tabs__link:focus {
  border-bottom: $mg-spacing-25 solid $mg-color-neutral-400;
  color: $mg-color-neutral-900;
  z-index: 1150;
  text-decoration: none;
}

.mg-tabs__link.is-active {
  color: $mg-color-white;
  background-color: $mg-color-interactive;
  text-shadow: none;
  border-bottom: $mg-spacing-25 solid $mg-color-interactive-active;
}

.mg-tabs__link.is-active:hover,
.mg-tabs__link.is-active:focus {
  background: $mg-color-interactive-active;
  border-bottom: $mg-spacing-25 solid $mg-color-white;
  color: $mg-color-white;
}

.mg-tabs__section {
  padding: $mg-spacing-75 $mg-spacing-150;
}

[dir="rtl"] {
  .mg-tabs {
    > ul {
      padding-right: 0;

      @include devicebreak(medium) {
        padding-right: $mg-spacing-300;
      }

      li {
        margin-left: $mg-spacing-100;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}

/* Tab end */
