@use "../../../assets/scss/mixins";
@use "../../../assets/scss/variables";

// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* author image */

.author__img {
  border-radius: variables.$author-image-radius;
  height: 80px;
  min-width: 80px;
  overflow: hidden;
  position: relative;
  width: 80px;

  &::before {
    @extend %absolute__content;
    @include mixins.transition(all 0.6s);

    border-radius: variables.$author-image-radius;
    opacity: 0;
    overflow: hidden;
  }

  &:hover {
    $colors: (
      "yellow": variables.$mg-color-yellow,
      "red": variables.$mg-color-red-900,
      "green": variables.$mg-color-green,
      "blue": variables.$mg-color-azure,
    );

    &::before {
      @include mixins.background-image(45deg, variables.$mg-color-yellow, transparent 53%);

      opacity: 0.75;
    }

    @each $name, $color in $colors {
      &.#{$name}::before {
        @include mixins.background-image(45deg, variables.$mg-color-yellow, transparent 53%);
      }
    }
  }

  img {
    @extend %img-cover;
  }

  &.large {
    height: 180px;
    width: 180px;
  }
}

[dir="rtl"] {
  .author__img {
    &::before {
      @include mixins.transform(scaleX(-1));
    }
  }
}
