// @to-do: this is a hodge-podge of code that needs to be moved
// into various utility components or outright removed.

/* base start */
.show-large {
  display: none;

  @include devicebreak(medium) {
    display: block;
  }
}

.show-small {
  display: block;

  @include devicebreak(medium) {
    display: none;
  }
}

.overlay-grey {
  &::before {
    @extend %absolute__content;

    background: rgb(0 0 0 / 20%);
  }
}

.custom-scrollbar,
%custom-scrollbar {
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $mg-color-black;
    background-clip: padding-box;
    border: 2px solid $mg-color-white;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $mg-color-black;
  }
}

/* animation start */
*[data-viewport='true'] {
  @extend %left-to-right;

  &.inviewport {
    @extend %inviewport_left_right;
  }
}

.delay-1 {
  transition-delay: 0.1s;
}

.delay-2 {
  transition-delay: 0.2s;
}

.delay-3 {
  transition-delay: 0.3s;
}

.delay-4 {
  transition-delay: 0.4s;
}

.delay-5 {
  transition-delay: 0.5s;
}

.scale-up {
  @extend %scale-up;

  &.inviewport {
    @include transform(scale(1));
  }
}

.opacity-only {
  @extend %opacity-only;

  &.inviewport {
    @extend %inviewport_opacity_only;
  }
}

.expand-to-size {
  max-width: calc(100% - 1rem);

  @include devicebreak(medium) {
    max-width: calc(100% - 3rem);
  }
}

[dir='rtl'] {
  *[data-viewport='true'] {
    @include transform(translateX(100px));

    &.inviewport {
      @extend %inviewport_left_right;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.background-yellow {
  background-color: $mg-color-yellow-light;
}

.background-red {
  background-color: $mg-color-red-600;
}

.background-green {
  background-color: $mg-color-green-light;
}

.background-blue {
  background-color: $mg-color-blue-100;
}

.background-gray {
  background-color: $mg-color-neutral-100;
}

.background-white {
  background-color: $mg-color-white;
}

// color map solid
$colors-solid: (
  'yellow': $mg-color-yellow,
  'red': $mg-color-red-900,
  'green': $mg-color-green,
  'blue': $mg-color-azure,
);

@each $name, $color in $colors-solid {
  .#{$name} {
    //statscard
    .stats-card {
      &:hover {
        background-color: #{$color};
      }
    }

    //progress-bar
    .progress-bar {
      background: #{$color};
    }

    //.blockquote
    .blockquote {
      background-color: #{$color};
    }

    //content crad
    .content-card.card:hover {
      background-color: #{$color};

      .cta--space::after {
        filter: invert(0) brightness(0);
      }
    }

    //content card - Emphasize
    .content-card.card-color:hover,
    .content-card.card-emphasize:hover {
      background-color: #{$color};
    }

    //feature-card
    .feature__card-slide {
      background: #{$color};
    }
  }
}

/* base end */
