
//PW Specific colors
$pw-color-primary: #0a6969;

//PW-COLORS HOVER
$mg-color-hover-primary: $pw-color-primary;

//PW-COMPONENT COLORS
$mg-color-label: $mg-color-neutral-0;
$mg-color-label--hover: $mg-color-neutral-0;
$mg-color-button-background: $sendai-orange;
$mg-color-button-background--hover: $sendai-orange-900;

/* variables end */
