/*
 * Headings
 */

//  Page title
.dts-heading-1 {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

//  Section header
.dts-heading-2 {
  font-size: 1.313rem;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 2rem;
}

//  Subsection header
.dts-heading-3 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

//  Events title
.dts-heading-4 {
  font-size: 1.125rem;
  line-height: 1.55;
  font-weight: 500;
  margin-bottom: 1rem;
}

//  Tab label
.dts-heading-5 {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 700;
  margin-bottom: .75rem;
}

/*
 * Body
 */

//  Tab label (duplicate?)
.dts-tab-label {
  font-size: 1rem;
  line-height: 2.375;
  font-weight: 700;
}

//  Body text
.dts-body-text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

//  Body label
.dts-body-label {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}