/**
 * @tokens PW Colors
 * @presenter Color
 *
 * https://github.com/UX-and-I/storybook-design-token
 */

// PW Specific colors
$pw-color-primary: #0a6969;

// PW-COLORS HOVER
$mg-color-interactive: $pw-color-primary;
$mg-color-interactive-active: $pw-color-primary;

// PW-COMPONENTS
$mg-color-label: $mg-color-interactive;
$mg-color-label--hover: $mg-color-interactive;
$mg-color-button-background: $pw-color-primary;
$mg-color-button-background--hover: $sendai-orange-900;
$mg-radius-button: $mg-spacing-50;

// Hero
$mg-color-hero: $mg-color-interactive;
$mg-spacing-hero-overlay: 2rem 0;

// Tabs
$mg-color-tabbar-background: none;
$mg-color-tab-background: $mg-color-interactive;
$mg-color-tab-border: $mg-color-interactive;
$mg-color-tab-border--hover: $mg-color-interactive;
$mg-color-tab-border--active: $mg-color-tab-background;
$mg-color-tab-background--hover: $mg-color-interactive;
$mg-radius-tab: $mg-spacing-50 $mg-spacing-50 0 0;

/* variables end */
