/**
 * @tokens PW Colors
 * @presenter Color
 *
 * https://github.com/UX-and-I/storybook-design-token
 */

// PW Specific colors
$pw-color-primary: #0a6969;

// PW-COLORS HOVER
$mg-color-interactive: $pw-color-primary;
$mg-color-interactive-active: $pw-color-primary;

// PW-COMPONENT COLORS
$mg-color-label: $mg-color-neutral-0;
$mg-color-label--hover: $mg-color-neutral-0;
$mg-color-button-background: $pw-color-primary;
$mg-color-button-background--hover: $sendai-orange-900;

// Hero
$mg-color-hero: $mg-color-interactive;
$mg-spacing-hero-overlay: 2rem 0;

/* variables end */
