/**
 * @tokens IRP Colors
 * @presenter Color
 *
 * https://github.com/UX-and-I/storybook-design-token
 */

// IRP Specific colors
$irp-color-primary: #0f78bf;

// IRP-COLORS HOVER
$mg-color-interactive: $irp-color-primary;
$mg-color-interactive-active: $irp-color-primary;
$mg-color-label-background: $mg-color-interactive;
$mg-color-label-background--hover: $sendai-orange-900;

// COMPONENTS
$mg-color-label: $mg-color-neutral-0;
$mg-color-label--hover: $mg-color-neutral-0;
$mg-radius-label: $mg-spacing-50;
$mg-color-button-background: $irp-color-primary;
$mg-color-button-background--hover: $sendai-orange-900;
$mg-radius-button: $mg-spacing-50;

// Hero
$mg-color-hero: $mg-color-interactive;
$mg-spacing-hero-overlay: 2rem 0;

// Tabs
$mg-color-tabbar-background: none;
$mg-color-tab-background: $mg-color-interactive;
$mg-color-tab-background--active: $mg-color-interactive;
$mg-color-tab-background--hover: $mg-color-interactive;
$mg-radius-tab: $mg-spacing-50 $mg-spacing-50 0 0;

/* variables end */
