/**
 * This is a "temporary" solution to ease the development
 * of our prototype Gutenberg components.
 * It should be removed once the Mangrove library is fully
 * theme aware and in sync with UNDRR themes.
 *
 * See also:
 * https://git.un.org/undrr/web-backlog/-/issues/611
 * https://git.un.org/undrr/web-backlog/-/issues/545
 */

@import "./core/variables";
@import "./core/breakpoints";
@import "./core/mixins";
@import "./core/utility";

// @import './base';

// We only bring in a limited set of components needed for gutenberg
// @import './components';
@import "../../Atom/Layout/Grid/grid";
@import "../../Components/Buttons/CtaButton/buttons";
@import "../../Components/Cards/Card/card";
@import "../../Components/Hero/hero";
@import "../../Components/Tab/tab";
@import "../../Utilities/FullWidth/FullWidth";
