@use "../../../assets/scss/variables";

// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* checkbox */
.form-check {
  align-items: center;
  display: flex;
  position: relative;

  label {
    cursor: pointer;
    font-size: variables.$mg-font-size-300;
    padding: 0 7px;
  }
}

input[type="checkbox"] {
  @extend %checbox-radio-before;

  border-radius: 0;

  // &:checked {
  //   background: url(#{$img-path-Icon}/icon-check.svg) 1px 0 no-repeat;
  // }
}
