@use "../../../assets/scss/mixins";
@use "../../../assets/scss/variables";

// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

.select-default {
  @extend %select_default;
  @include mixins.x-appearance(none);

  // background:
  //   $mg-color-white url(#{$img-path-Icon}/chevron-down.svg) no-repeat
  //   right 22px center;
  border-radius: 0;
  color: variables.$mg-color-black;
  display: block;
}

[dir="rtl"] {
  .select-default {
    background-position: left 22px center;
    padding: variables.$mg-spacing-50 variables.$mg-spacing-50 variables.$mg-spacing-50 variables.$mg-spacing-800;
    text-align: right;
  }
}
