// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

// * progress navigation start *//
.progress-container {
  background: $mg-color-neutral-300;
  height: 0.75rem;
  width: 100%;

  @include devicebreak(medium) {
    height: 1rem;
  }

  &.small {
    height: 0.625rem;

    @include devicebreak(medium) {
      height: 0.75rem;
    }

    .progress-bar {
      height: 0.625rem;

      @include devicebreak(medium) {
        height: 0.75rem;
      }
    }
  }

  &.yellow {
    .progress-bar {
      background: $mg-color-yellow;
    }
  }

  &.red {
    .progress-bar {
      background: $mg-color-red-900;
    }
  }

  &.green {
    .progress-bar {
      background: $mg-color-green;
    }
  }

  &.blue {
    .progress-bar {
      background: $mg-color-azure;
    }
  }
}

.progress-bar {
  @include transition(width 0.2s linear);

  height: 0.75rem;
  min-width: 1%;
  position: fixed;
  width: 34%;
  z-index: 1;

  @include devicebreak(medium) {
    height: 1rem;
  }
}

.progress-top {
  top: 0;
}

// * progress navigation end *//
