$backgroundcolors: (
  "yellow": $mg-color-yellow-light,
  "red": $mg-color-red-600,
  "green": $mg-color-green-light,
  "blue": $mg-color-azure-light,
  "gray": $mg-color-neutral-100,
);

.stats-slider {
  .stats-card.small {
    max-width: 100%;

    &:hover {
      background-color: $mg-color-yellow-light;

      @each $name, $color in $backgroundcolors {
        &.#{$name} {
          background-color: #{$color};
        }
      }
    }
  }

  .swiper-scrollbar {
    @include devicebreak(medium) {
      padding-right: $mg-spacing-600;
    }
  }

  .swiper-wrapper {
    display: grid;
    grid-auto-flow: column;
  }
}

[dir="rtl"] {
  .stats-slider {
    &.swiper-initialized {
      .swiper-scrollbar {
        @include devicebreak(medium) {
          padding-left: $mg-spacing-600;
        }
      }
    }
  }
}
