@use "../../assets/scss/mixins";
@use "../../assets/scss/variables";

// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* pagination start */
.pagination ul {
  align-items: center;
  display: flex;
  padding-left: 0;

  li {
    display: flex;
    font-size: variables.$mg-font-size-300;
    margin-bottom: 0;
    margin-right: variables.$mg-spacing-100;
    padding-left: 0;
    position: relative;

    a {
      @extend %img_none;

      border-bottom: 0;
      font-size: variables.$mg-font-size-300;
    }

    span {
      margin: 0 0.375rem;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &:first-of-type,
    &:last-of-type {
      cursor: pointer;

      a {
        font-size: 0;
        height: 45px;
        width: 45px;

        &::before {
          // background:
          //   url(#{$img-path-Icon}/chevron-left-circle.svg) no-repeat
          //   center center;
          content: " ";
          display: block;
          height: 45px;
          width: 45px;
        }
      }
    }

    &.disabled {
      a {
        &::before {
          opacity: 0.3;
        }
      }
    }

    &:last-of-type {
      margin-right: 0;

      // a {
      //   &::before {
      //     background:
      //       url(#{$img-path-Icon}/chevron-right-circle.svg) no-repeat
      //       center center;
      //   }
      // }
    }
  }
}

[dir="rtl"] {
  .pagination {
    ul {
      padding-right: 0;
    }

    li {
      margin-left: variables.$mg-spacing-100;
      margin-right: 0;
      padding-right: 0;

      &:first-of-type {
        a {
          &::before {
            @include mixins.transform(rotateZ(180deg));
          }
        }
      }

      &:last-of-type {
        margin-left: 0;

        a {
          &::before {
            @include mixins.transform(rotateZ(180deg));
          }
        }
      }

      span {
        &:last-of-type {
          margin-left: 0;
          margin-right: 0.375rem;
        }
      }
    }
  }
}

/* pagination end */
