// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

.breadcrumb {
  ul {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    font-size: $mg-font-size-100;
    padding: 0;

    li {
      display: inline-block;
      margin: $mg-spacing-25 $mg-spacing-100 $mg-spacing-25 0;
      padding-left: 0;
      position: relative;

      &::after {
        color: $mg-color-red-900;
        content: "/";
        font-weight: bold;
        position: absolute;
        right: -12px;
        top: 0;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        font-weight: 600;
        letter-spacing: 0.03em;
        margin-right: 0;
        max-width: calc(100vw - 2rem);
        text-transform: uppercase;

        &::after {
          display: none;
        }
      }

      a {
        background: none;
        color: $mg-color-red-900;
        font-size: $mg-font-size-100;
        font-weight: 600;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        transition: opacity 0.2s ease;

        &:hover {
          color: $mg-color-red-900;
        }
      }
    }
  }

  &.white {
    li {
      &::after {
        color: $mg-color-white;
      }

      a {
        color: $mg-color-white;

        &:hover {
          color: $mg-color-white;
          opacity: 0.7;
        }
      }
    }

    &:last-of-type,
    li:last-of-type {
      color: $mg-color-white;
    }
  }
}

[dir="rtl"] {
  .breadcrumb {
    ul {
      padding: 0;
    }

    li {
      margin: $mg-spacing-25 0 $mg-spacing-25 $mg-spacing-100;
      padding-right: 0;

      a {
        margin: 0;
      }

      &:first-of-type {
        margin-left: $mg-spacing-100;
        margin-right: 0;
      }

      &:last-of-type {
        margin-left: 0;
        margin-right: 0;
      }

      &::after {
        @include transform(translate(0, -63%) rotate(140deg));

        left: -14px;
        right: unset;
        top: 63%;
      }
    }
  }
}

// burmese lang
:lang(my) {
  .breadcrumb li:last-of-type {
    font-size: $mg-font-size-100;
  }
}
