.mg-table-of-contents {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;

  h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  ul,
  ol {
    padding-left: 0;
    list-style-position: inside;

    li {
      margin-bottom: 5px;
    }
  }

  ul {
    list-style-type: square;
  }

  ol.numbered {
    list-style-type: decimal;
  }

  a {
    color: #0066cc;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
