
blockquote {
  font-size: $mg-font-size-600;
  font-weight: 600;
  line-height: 1.16;
  margin: 0;

  @include devicebreak(medium) {
    font-size: $mg-font-size-900;
    line-height: 1.15;
  }
}

// burmese lang
:lang(my) {
  blockquote {
    line-height: 1.7;
  }
}
