@use "../../assets/scss/breakpoints";
@use "../../assets/scss/variables";

// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/mixins';

/* blockquote cta start */
.blockquote {
  background-color: none;
  padding: variables.$mg-spacing-150 variables.$mg-spacing-100;

  @include breakpoints.devicebreak(medium) {
    padding: 5.313rem variables.$mg-spacing-500;
  }

  &.gray {
    background-color: variables.$mg-color-neutral-200;
  }

  &.yellow {
    background-color: variables.$mg-color-yellow;
  }

  &.red {
    background-color: variables.$mg-color-red-900;
  }

  &.green {
    background-color: variables.$mg-color-green;
  }

  &.blue {
    background-color: variables.$mg-color-azure;
  }
}

/* blockquote cta end */
