// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* block cta start */
.cta-block {
  h4 {
    font-weight: 600;
    margin-bottom: $mg-spacing-100;

    @include devicebreak(large) {
      margin-bottom: $mg-spacing-300;
    }
  }

  .cta__link {
    font-size: $mg-font-size-300;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    margin-bottom: $mg-spacing-200;
  }
}

/* block cta end */
