@use "../../../assets/scss/mixins";
@use "../../../assets/scss/variables";

// @import '../../../../assets/scss/variables';
// @import '../../../../assets/scss/breakpoints';
// @import '../../../../assets/scss/mixins';

.cta__link {
  @extend %button;
  @extend %img_none;

  color: variables.$mg-color-black;

  &.cta--arrow {
    @extend %chevron-right-expanded;

    padding-left: 0;
    padding-right: variables.$mg-spacing-100;
  }

  &.cta--space {
    &::after {
      @extend %ctaimg;
      @include mixins.transition(0.2s ease);

      // background:
      //   url(#{$img-path-Iconfourback}/arrow-left-expand-defaut.svg)
      //   no-repeat left center;
    }

    &:hover {
      &::after {
        @include mixins.translate(70%, 0);
      }
    }
  }
}

[dir="rtl"] {
  .cta__link {
    align-items: flex-end;

    &.cta--space {
      &::after {
        @include mixins.transform(rotate(180deg));

        margin-left: 0;
        margin-right: variables.$mg-spacing-25;
      }

      &:hover::after {
        @include mixins.transform(translate(-50%, 0) rotate(180deg));
      }
    }

    &.cta--arrow {
      padding-left: variables.$mg-spacing-100;
      padding-right: 0;

      i {
        @include mixins.transform(translate(0) rotate(180deg));

        left: 0;
        right: 1.25rem;
      }
    }
  }
}
