:root {
  --mg-show-more-height: 200px;
}

.mg-show-more--collapsed {
  max-height: 200px;
  max-height: var(--mg-show-more-height);
  overflow: hidden;
}

.mg-show-more--collapsed {
  position: relative;
  margin-bottom: -1rem;
}
.mg-show-more--collapsed:before {
  content: "";
  cursor: s-resize;
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgb(255 255 255 / 0), rgb(255 255 255 / 1));
  height: 200px;
  width: 100%;
  z-index: 1;
  margin-top: calc(var(--mg-show-more-height) - 200px);
}

.mg-show-more--button {
  position: relative;
  z-index: 2;
  padding: 1rem 4rem;
}
