// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* Tab start */
.tabs {
  > ul {
    background-color: $mg-color-white;
    border-bottom: 2px solid $mg-color-neutral-300;
    list-style: none;
    padding-left: 0;

    @include devicebreak(medium) {
      padding-left: $mg-spacing-300;
    }

    .is-active {
      border-bottom: 2px solid $mg-color-red-900;
    }

    a {
      @extend %img_none;

      font-size: $mg-font-size-300;
    }

    li {
      border-bottom: 2px solid transparent;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      letter-spacing: 0.03em;
      margin-bottom: -0.125rem;
      margin-right: $mg-spacing-100;
      margin-top: 0.75rem;
      padding-bottom: $mg-spacing-25;
      padding-left: 0;
      text-transform: uppercase;

      &:hover {
        @include devicebreak(large) {
          border-bottom: 2px solid $mg-color-neutral-500;
        }
      }
    }
  }

  .tabs-content {
    background-color: $mg-color-white;

    .tabs-panel {
      display: none;

      &.is-active {
        display: inherit;
      }

      p {
        margin-top: $mg-spacing-50;

        @include devicebreak(medium) {
          margin-top: 2.5rem;
        }
      }
    }
  }
}

[dir="rtl"] {
  .tabs {
    > ul {
      padding-right: 0;

      @include devicebreak(medium) {
        padding-right: $mg-spacing-300;
      }

      li {
        margin-left: $mg-spacing-100;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}

/* Tab end */
