.mg-breadcrumb {
  font-family: $mg-font-family-condensed;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  font-size: $mg-font-size-300;
  padding: 0;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      font-weight: 600;
      letter-spacing: 0.03em;
      margin-right: 0;
      max-width: calc(100vw - 2rem);
    }

    a {
      background: none;
      color: $mg-color-text;
      font-weight: 600;
      letter-spacing: 0.03em;
      transition: opacity 0.2s ease;

      &:hover {
        color: $mg-color-text;
      }
    }
  }

  li + li:before {
    font-family: $mg-font-family-icons;
    color: $mg-color-text;
    content: "\f105";
    padding: 0 12px 0 14px;
    vertical-align: top;
  }

  li + li:has(a:empty):before {
    display: none;
  }
}

.mg-breadcrumb.mg-breadcrumb--white {
  li {
    color: $mg-color-white;
    a {
      color: $mg-color-white;

      &:hover {
        color: $mg-color-white;
        opacity: 0.7;
      }
    }
  }

  &:last-of-type,
  li:last-of-type {
    color: $mg-color-white;
  }

  li + li:before {
    color: $mg-color-white;
  }
}

[dir="rtl"] {
  .mg-breadcrumb {
    padding: 0;

    li {
      margin: 0;
      padding-right: 0;

      a {
        margin: 0;
      }

      &:first-of-type {
        margin-left: 0;
        margin-right: 0;
      }

      &:last-of-type {
        margin-left: 0;
        margin-right: 0;
      }
    }

    li + li:before {
      @include transform(rotate(180deg));

      padding: 0 14px 0 12px;
    }
  }
}

// burmese lang
// :lang(my) {
//   .mg-breadcrumb li:last-of-type {
//     font-size: $mg-font-size-100;
//   }
// }
