// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

// Hero
.mg-hero {
  background-size: cover;
  background-position: center;
  color: $mg-color-neutral-0;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: calc(50% - (50vw));
  position: relative;
  width: 99vw;

  // Button overrides
  a.mg-button-primary {
    background-color: $mg-color-neutral-0;
  }
  a.mg-button-secondary {
    background-color: rgba($mg-color-neutral-0, .9);
  }
  a.mg-button,
  a.mg-button:hover,
  a.mg-button:visited {
    color: $mg-color-hero;
  }

  &__overlay {
    // todo: choices for background colors
    background-color: rgba($mg-color-hero, $mg-opacity-hero);
    margin: $mg-spacing-hero-overlay;
    margin-left: $spacing-07;
    padding: $spacing-06;
    width: max-content;

    @media (max-width: $mg-breakpoint-tablet) {
      margin-left: 0;
    }
  }

  &__content {
    margin-top: $spacing-03;
  }

  &__meta {
    padding-bottom: $spacing-02;

    &.meta-detail {
      display: flex;
      flex-direction: column;
    }
  }

  &__label {
    display: inline-block;
    // background: rgb(230, 230, 230);
    // border-radius: .3em;
    font-size: 0.85em;
    font-weight: bold;
    margin-right: $spacing-03;
    padding: $spacing-02 0;

    &.detail {
      font-weight: normal;
    }
  }

  a,
  a:hover,
  a:visited {
    color: $mg-color-neutral-0;
  }

  &__title {
    color: $mg-color-neutral-0;
    margin-bottom: $spacing-02;
    display: inline-block;
    font-weight: bold;

    @media (max-width: $mg-breakpoint-mobile) {
      font-size: 1.5em;
    }

    @media (max-width: $mg-breakpoint-tablet) {
      font-size: 1.7em;
    }

    .text-xxl {
      font-size: 2.5em;

      @media (max-width: $mg-breakpoint-mobile) {
        font-size: 1.5em;
      }

      @media (max-width: $mg-breakpoint-tablet) {
        font-size: 1.7em;
      }
    }

    .text-xl {
      font-size: 2.4em;

      @media (max-width: $mg-breakpoint-mobile) {
        font-size: 1.4em;
      }

      @media (max-width: $mg-breakpoint-tablet) {
        font-size: 1.6em;
      }
    }
  }

  &__summaryText {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: $spacing-03;
  }
}

// Child variant
.mg-hero--child .mg-hero__overlay {
  @media (max-width: $mg-breakpoint-tablet) {
    margin-left: 0;
  }
}

// Stylistic variants
$variantColours: (
  'secondary': $mg-color-hero--secondary,
  'tertiary': $mg-color-hero--tertiary,
  'quaternary': $mg-color-hero--quaternary,
);

@each $name, $color in $variantColours {
  .mg-hero--#{$name} .mg-hero__overlay {
    background-color: rgba($color, $mg-opacity-hero);
    a.mg-button,
    a.mg-button:hover,
    a.mg-button:visited {
      color: #{$color};
    }
  }
}
