@import "../../../assets/scss/variables";

.mg-recursive-menu-item {
  list-style: none;
  padding: 0;
  margin: 0;
  a {
    text-decoration: none;
    color: $mg-color-black;
  }
  &__children {
    list-style: none;
  }
}
