<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>502: Bad gateway</title>
    <link rel="stylesheet" href="https://assets.undrr.org/static/mangrove/1.2.11/assets/css/style.css" />
    <script>
      function retry() { window.location.reload(); }
    </script>
  </head>
  <body>
    <main class="mg-error-page">
      <div class="mg-page-header__decoration" aria-hidden="true">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="mg-error-page__container mg-container--spacer">
        <h1>Error 502</h1>
        <h2>Bad gateway</h2>
        <p>There was a temporary problem connecting to the service. Try again in a moment.</p>
        <div class="mg-error-page__actions">
          <button type="button" class="mg-button mg-button-primary" onclick="retry();return false;">Try again</button>
          <a class="mg-button mg-button-secondary" href="/">Go to home</a>
        </div>
        <hr />
        <small>This website is operated by</small>
        <a href="https://www.undrr.org/"><div class="undrr-logo" aria-hidden="true"></div></a>
      </div>
    </main>
    <script type="text/javascript" src="https://assets.undrr.org/static/analytics/v1.0.0/google_analytics_enhancements.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://messaging.undrr.org/src/undrr-messaging.js" defer></script>
  </body>
</html>
