// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/mixins';

/* blockquote cta start */
.blockquote {
  background-color: none;
  padding: $mg-spacing-150 $mg-spacing-100;

  @include devicebreak(medium) {
    padding: 5.313rem $mg-spacing-500;
  }

  &.gray {
    background-color: $mg-color-neutral-200;
  }

  &.yellow {
    background-color: $mg-color-yellow;
  }

  &.red {
    background-color: $mg-color-red-900;
  }

  &.green {
    background-color: $mg-color-green;
  }

  &.blue {
    background-color: $mg-color-azure;
  }
}

/* blockquote cta end */
