// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/mixins';

/* blockquote cta start */
div.blockquote {
  background-color: none;
  padding: $spacing-07 $spacing-06;

  @include devicebreak(medium) {
    padding: 5.313rem $spacing-12;
  }

  &.gray {
    background-color: $mg-color-neutral-200;
  }

  &.yellow {
    background-color: $mg-color-yellow;
  }

  &.red {
    background-color: $mg-color-red;
  }

  &.green {
    background-color: $mg-color-green;
  }

  &.blue {
    background-color: $mg-color-azure;
  }
}

/* blockquote cta end */
