/* Dubai - Arabic Body Text Font */
@font-face {
  font-family: 'Dubai';
  src: url('https://assets.undrr.org/testing/static/fonts/dubai/v1.0.0/Regular/Dubai-Regular.woff2') format('woff2'),
       url('https://assets.undrr.org/testing/static/fonts/dubai/v1.0.0/Regular/Dubai-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
