/* Dubai - Arabic Body Text Font */
@font-face {
  font-family: 'Dubai';
  src: url('https://assets.undrr.org/static/fonts/dubai/v1.0.0/Regular/Dubai-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
