mark {
  // @extend %paragraph-font-300;

  // background: $mg-color-yellow-light;
  // font-size: $mg-font-size-200;
  // padding: $mg-spacing-25;

  // @include devicebreak(medium) {
  //   font-size: $mg-font-size-400;
  // }
  background-color: $dts-iris-100;
  padding: 3px 6px;
}