// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

mark {
  @extend %paragraph-font-300;

  background: $mg-color-yellow-light;
  font-size: $mg-font-size-200;
  padding: $mg-spacing-25;

  @include devicebreak(medium) {
    font-size: $mg-font-size-400;
  }
}
