@use "../../../assets/scss/variables";

// @import '../../../assets/scss/mixins';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/variables';

// * menu item row start *//
.menu li {
  a {
    @extend %paragraph-font-100;
    @extend %img_none;

    border: none;
    display: inline;
    letter-spacing: 0.03em;

    &:hover {
      color: variables.$mg-color-neutral-600;
      cursor: pointer;
    }

    &.selected {
      border-bottom: 2px solid variables.$mg-color-red-900;
      padding-bottom: variables.$mg-spacing-25;
    }
  }
}

// * menu item row end *//
