@use "mixins";
@use "variables";

/* BEGIN Bold */
@font-face {
  font-family: "Roboto Condensed";

  @include mixins.fontdef(variables.$font-path, variables.$font-version, "Bold");

  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
/* END Bold */
