/* BEGIN Light */
@font-face {
  font-family: "Roboto Condensed";

  @include fontdef($font-path, $font-version, "Light");

  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
/* END Light */
