@use "mixins";
@use "variables";

/* BEGIN Light */
@font-face {
  font-family: "Roboto Condensed";

  @include mixins.fontdef(variables.$font-path, variables.$font-version, "Light");

  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
/* END Light */
