@use "mixins";
@use "variables";

/* BEGIN Regular */
@font-face {
  font-family: "Roboto Condensed";

  @include mixins.fontdef(variables.$font-path, variables.$font-version, "Regular");

  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
/* END Regular */
