// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

// Hero
// This is a test container we can use for now to ensure the hero "locks" to the grid
// .test-container {
//   max-width: $mg-breakpoint-desktop;
//   background-color: red;
//   height: 100px;
//   margin: 0 auto;
// }
.mg-hero {
  background-size: cover;
  background-position: center;
  color: $mg-color-neutral-0;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  margin-left: calc(50% - (50vw)); // to expand out of the parent container
  padding-left: $mg-spacing-100;
  width: 100vw;

  @media (min-width: $mg-breakpoint-tablet) {
    aspect-ratio: 16 / 4; // we use 16:4, which is closer to the real crop ratio
    padding-left: calc(50vw - calc($mg-breakpoint-desktop / 2)); // to keep the overlay fixed
  }

  // Button overrides
  a.mg-button-primary {
    background-color: $mg-color-neutral-0;
  }
  a.mg-button-secondary {
    background-color: rgba($mg-color-neutral-0, 0.9);
  }
  a.mg-button,
  a.mg-button:hover,
  a.mg-button:visited {
    color: $mg-color-hero;
  }

  &__overlay {
    align-items: center;
    background-color: rgba($mg-color-hero, $mg-opacity-hero);
    display: grid;
    margin: $mg-spacing-hero-overlay;
    max-width: $mg-width-400;
    padding: $mg-spacing-200;
  }

  &__content {
    display: grid;
    line-height: $mg-font-line-height-500;
    margin-top: $mg-spacing-25;
    row-gap: 1rem;
  }

  &__meta {
    padding-bottom: $mg-spacing-25;

    &.meta-detail {
      display: flex;
      flex-direction: column;
    }
  }

  &__label {
    display: inline-block;
    font-size: $mg-font-label;
    font-weight: bold;
    margin-right: $mg-spacing-25;
    padding: $mg-spacing-25 0;

    &.detail {
      font-weight: normal;
    }
  }

  a,
  a:hover,
  a:visited {
    color: $mg-color-neutral-0;
  }

  &__title {
    color: $mg-color-neutral-0;
    margin-bottom: $mg-spacing-25;
    display: inline-block;
    font-weight: bold;
    font-size: $mg-font-size-600;

    .text-xxl {
      font-size: $mg-font-size-800;

      @media (max-width: $mg-breakpoint-mobile) {
        font-size: $mg-font-size-600;
      }
    }

    .text-xl {
      font-size: $mg-font-size-600;

      @media (max-width: $mg-breakpoint-mobile) {
        font-size: $mg-font-size-600;
      }
    }
  }

  &__summaryText {
    font-size: $mg-font-size-400;
    margin-bottom: $mg-spacing-25;
  }
}

.mg-hero__buttons {
  padding-top: $mg-spacing-75;
  padding-bottom: $mg-spacing-50;
}

// Child variant
.mg-hero--child .mg-hero__overlay {
  @media (max-width: $mg-breakpoint-tablet) {
    margin-left: 0;
  }
}

// Stylistic variants
$variant-colours: (
  "secondary": $mg-color-hero--secondary,
  "tertiary": $mg-color-hero--tertiary,
  "quaternary": $mg-color-hero--quaternary,
);

@each $name, $color in $variant-colours {
  .mg-hero--#{$name} .mg-hero__overlay {
    background-color: rgba($color, $mg-opacity-hero);
    a.mg-button,
    a.mg-button:hover,
    a.mg-button:visited {
      color: #{$color};
    }
  }
}

// RTL tweaks
[dir="rtl"] .mg-hero {
  margin-right: calc(50% - (50vw)); // to expand out of the parent container
  padding-right: $mg-spacing-100;

  @media (min-width: $mg-breakpoint-tablet) {
    padding-right: calc(50vw - calc($mg-breakpoint-desktop / 2)); // to keep the overlay fixed
  }
}