@use "../../../assets/scss/variables";

// @import '../../../../assets/scss/variables';
// @import '../../../../assets/scss/breakpoints';
// @import '../../../../assets/scss/mixins';

/* content-card start */
// $colors: (
//   'yellow': $mg-color-yellow,
//   'red': $mg-color-red-900,
//   'green': $mg-color-green,
//   'blue': $mg-color-azure,
//   'gray': $mg-color-neutral-100,
// );
// $backgroundcolors: (
//   'yellow': $mg-color-yellow-light,
//   'red': $mg-color-red-600,
//   'green': $mg-color-green-light,
//   'blue': $mg-color-azure-light,
//   'gray': $mg-color-neutral-100,
// );

// MG CARD using CSS GRID
.mg-card {
  display: inline-block;
  position: relative;
  margin-bottom: variables.$mg-spacing-100;

  // Vertical CARD
  &__vc {
    display: grid;
    gap: variables.$mg-spacing-50;

    .mg-card__visual {
      aspect-ratio: 16/9;
      overflow: hidden;
    }
  }

  // Horizontal CARD
  &__hc {
    color: variables.$mg-color-neutral-800;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr auto;
    gap: variables.$mg-spacing-100;

    &__content {
      grid-column: 1 / 3;
      grid-row: 2 / 3;

      @media (min-width: variables.$mg-breakpoint-mobile) {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
      }
    }

    @media (min-width: variables.$mg-breakpoint-mobile) {
      grid-template-columns: 160px repeat(2, 1fr);
      grid-template-rows: 1fr auto;
    }

    @media (min-width: variables.$mg-breakpoint-tablet) {
      grid-template-columns: 330px 1fr;
    }
  }

  &__hc.mg-card-book__hc {
    grid-template-rows: 200px 1fr auto;

    .mg-card__visual {
      border: 1px solid rgba(variables.$mg-color-neutral-600, 0.2);
    }

    @media (min-width: variables.$mg-breakpoint-mobile) {
      grid-template-columns: 160px repeat(2, 1fr);
      grid-template-rows: 1fr auto;
    }

    // @media (min-width: $mg-breakpoint-tablet) {
    //   grid-template-columns: 330px 1fr;
    // }
  }

  // Main Card css
  &__visual {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    align-self: center;
  }

  &__share {
    cursor: pointer;
    display: inline-block;
    padding: 0 variables.$mg-spacing-50 variables.$mg-spacing-25;
    position: absolute;
    z-index: 101;
  }

  &__label {
    color: variables.$mg-color-label;
    cursor: pointer;
    display: inline-block;
    font-size: variables.$mg-font-label;
    margin-right: variables.$mg-spacing-50;

    &:hover {
      color: variables.$mg-color-label;
    }

    // &--active {
    //     background: #d4d4d4;
    //     font-weight: bold;
    // }
  }

  // &__content {
  // }

  &__title {
    font-size: variables.$mg-font-size-500;
    font-weight: bold;
    line-height: variables.$mg-font-line-height-500;
    padding-bottom: variables.$mg-spacing-75;
    padding-top: variables.$mg-spacing-100;

    a {
      color: variables.$mg-color-text;
      cursor: pointer;
      display: inline-block;
    }

    .active {
      background: variables.$mg-color-neutral-50;
      font-weight: bold;
    }
  }

  &__title a::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }
}

.mg-card__summary {
  padding-bottom: variables.$mg-spacing-50;
}

.mg-card__summary a,
.mg-card__text-link {
  color: variables.$mg-color-interactive;
}

.mg-card__summary a,
.mg-card__text-link,
.mg-card__label,
.mg-card .mg-button {
  position: relative;
  z-index: 101;
}

.mg-card__summary a:hover,
.mg-card__text-link:hover {
  text-decoration: underline;
}

// Book Card variant
.mg-card__book {
  max-width: 200px;

  .mg-card__visual {
    aspect-ratio: 3/4;
    border: 1px solid rgba(variables.$mg-color-neutral-600, 0.2);
  }
  .mg-card__title {
    font-size: variables.$mg-font-size-300;
    padding-top: variables.$mg-spacing-25;
  }
}

@media (min-width: variables.$mg-breakpoint-desktop) {
  .mg-card__book {
    max-width: 400px;
  }
}

// END of CARD

// [dir='rtl'] {
//   .content-card {
//     .image {
//       &::before {
//         @include transform(scaleX(-1));
//       }
//     }

//     &:hover {
//       .cta {
//         &--space::after {
//           @include transform(translate(-50%, 0) rotate(180deg));
//         }

//         &--arrow::after {
//           margin-left: 0;
//           margin-right: 0.25rem;
//         }
//       }
//     }
//   }
// }

/* content-card end */
