@use "../../assets/scss/variables";

// @import '../../assets/scss/variables';
// @import '../../assets/scss/breakpoints';
// @import '../../assets/scss/mixins';

// A basic Fontawesome shim for our custom UNDRR font face.
// This allows us to:
// 1. not load a massive FA library
// 2. be flexible for any cusotmisation we need
// 3. move forward with our migration to Mangrove without breaking legacy compatiablity
// More at: https://gitlab.com/undrr/web-backlog/-/issues/927
// Most of the font references are pulled from
// https://fontawesome.com/v4/assets/font-awesome/css/font-awesome.css

@font-face {
  font-family: FontAwesome;
  font-weight: normal;
  src:
    url("#{variables.$mgIconFontPath}/mangrove-icon-set.ttf") format("ttf"),
    url("#{variables.$mgIconFontPath}/mangrove-icon-set.woff2") format("woff2");
}

.mg-icon,
.fa-before:before,
.fab,
.fas,
.fa {
  font-family: FontAwesome, sans-serif;
  font-style: normal;
}

.fa-before:before {
  padding-right: 0.5em;
}

// .fa-lg {
//   font-size: 1.33333333em;
//   line-height: 0.75em;
//   vertical-align: -15%;
// }

.fa-2x {
  font-size: 2em;
}

.fa-rss:before {
  content: "\f09e";
}

.fa-file-alt:before {
  content: "\f15c";
}

.fa-facebook:before {
  content: "\f230";
}

.fa-x-social:before,
.fa-twitter:before {
  content: "\f099";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-flickr:before {
  content: "\f16e";
}

.fa-youtube:before {
  content: "\f16a";
}

.fa-search:before {
  content: "\e808";
}

.fa-envelope:before,
.fa-envelope-o:before {
  content: "\e806";
}

.fa-newspaper:before {
  content: "\f1ea";
}

.fa-chart-bar:before {
  content: "\e80B";
}

.fa-file:before {
  content: "\f15b";
}

.fa-graduation-cap:before {
  content: "\f19D";
}

.fa-calendar-alt:before {
  content: "\f133";
}

.fa-building:before {
  content: "\f0F7";
}

.fa-pen-nib:before {
  content: "\f0f6";
}

.fa-business-time:before {
  content: "\e809";
}

.fa-code-branch:before {
  content: "\f126";
}

.fa-life-ring:before {
  content: "\f1cd";
}

.fa-lightbulb:before {
  content: "\f0eb";
}

.fa-cubes:before {
  content: "\f1b3";
}

.fa-bar-chart:before {
  content: "\e80B";
}

.fa-sort-alpha-down::before,
.fa-tags:before {
  content: "\e800";
}

.fa-landmark:before {
  content: "\f19c";
}

.fa-power-off:before {
  content: "\f090";
}

.fa-user:before {
  content: "\e805";
}

.fa-times:before {
  content: "\f00d";
}

.fa-link:before {
  content: "\e802";
}

.fa-clone:before {
  content: "\f24d";
}

.fa-globe:before {
  content: "\f0ac";
}

.fa-share:before {
  content: "\f1e0";
}
