@use "../../assets/scss/breakpoints";
@use "../../assets/scss/mixins";
@use "../../assets/scss/variables";

// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* language-switcher start */
.dropdown-language {
  display: inline-block;
  position: relative;

  ul {
    @include mixins.transition(0.3s ease-in-out);

    height: 0;
    left: variables.$mg-spacing-50;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: calc(100% + 3px);
    z-index: 9;

    li {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;

      a {
        @extend %language_switcher;

        background: variables.$mg-color-neutral-200;
        border-bottom: 1px solid variables.$mg-color-neutral-400;
        box-shadow: 0 3px 4px rgb(0 0 0 / 0.1);
        display: block;
        padding: variables.$mg-spacing-25 variables.$mg-spacing-50;

        &:hover {
          color: variables.$mg-color-neutral-600;
        }
      }
    }
  }

  &.active {
    button::after {
      @include mixins.transform(rotateZ(180deg));
    }

    ul {
      height: auto;
    }
  }

  button {
    @extend %language_switcher;

    align-items: center;
    background-color: variables.$mg-color-neutral-0;
    color: variables.$mg-color-text;
    cursor: pointer;
    display: flex;
    padding: 0;

    &::before {
      background-color: variables.$mg-color-blue-600;
      content: "";
      height: 26px;
      margin-right: variables.$mg-spacing-25;

      // -webkit-mask: url(#{$img-path-Icon}/language.svg) no-repeat left center;
      // mask: url(#{$img-path-Icon}/language.svg) no-repeat left center;
      width: 25px;

      @include breakpoints.devicebreak(small) {
        background:
          // transparent url(#{$img-path-Icon}/language.svg) no-repeat
          left center;
        -webkit-mask: inherit;
        mask: inherit;
      }
    }

    &::after {
      @include mixins.transition(0.2s ease-in-out);

      background-color: variables.$mg-color-blue-600;
      content: "";
      height: 10px;
      margin-left: variables.$mg-spacing-25;

      // -webkit-mask: url(#{$img-path-Icon}/arrow-blue.svg) no-repeat left center;
      // mask: url(#{$img-path-Icon}/arrow-blue.svg) no-repeat left center;
      width: 15px;

      @include breakpoints.devicebreak(small) {
        background:
          // transparent url(#{$img-path-Icon}/arrow-blue.svg) no-repeat
          left center;
        -webkit-mask: inherit;
        mask: inherit;
      }
    }

    &:hover {
      color: variables.$mg-color-blue-400;

      &::before {
        background-color: variables.$mg-color-blue-400;
      }

      &::after {
        background-color: variables.$mg-color-blue-400;
      }
    }

    &.white {
      color: variables.$mg-color-white;

      // &::before {
      //   background:
      //     url(#{$img-path-Icon}/language-white.svg) no-repeat left
      //     center;
      // }

      // &::after {
      //   background:
      //     url(#{$img-path-Icon}/arrow-white-down.svg) no-repeat left
      //     center;
      // }
    }
  }
}

[dir="rtl"] {
  .dropdown-language {
    ul {
      left: unset;
      padding-right: 0;
      right: 16px;

      li {
        padding-right: 0;
      }
    }

    button::before {
      margin-left: variables.$mg-spacing-25;
      margin-right: 0;
      transform: scaleX(-1);
    }

    button::after {
      margin-left: 0;
      margin-right: variables.$mg-spacing-25;
    }
  }
}

// burmese lang
:lang(my) {
  .dropdown-language {
    button {
      font-family: variables.$mg-font-family;
    }
  }
}

/* language-switcher end */
