// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';
// @import '../../../assets/scss/mixins';

/* typography start */

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: $mg-color-black;
  font-family: $mg-font-family;
  font-size: $mg-font-size-300;
  line-height: $mg-font-line-height-500;

  @include devicebreak(medium) {
    font-size: $mg-font-size-300;
  }
}

button {
  font-family: $mg-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  margin: $mg-spacing-0;
  margin-bottom: $mg-spacing-25;
  padding: $mg-spacing-0;

  @include devicebreak(medium) {
    margin-bottom: $mg-font-size-300;
  }
}

h1 {
  font-family: $mg-font-family;
  font-size: $mg-font-size-600;
  letter-spacing: 0.06rem;
  line-height: 1.08;

  @include devicebreak(medium) {
    font-size: 5.125rem;
  }

  @include devicebreak(large) {
    font-size: 6.25rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;

  @include devicebreak(medium) {
    font-size: 2.813rem;
  }

  @include devicebreak(large) {
    font-size: 3.438rem;
  }
}

h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.15;

  @include devicebreak(medium) {
    font-size: 2.188rem;
  }
}

h4 {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.15;

  @include devicebreak(medium) {
    font-size: 2.188rem;
  }
}

h5 {
  font-size: $mg-font-size-200;
  font-weight: 400;
  line-height: 1.15;

  @include devicebreak(medium) {
    font-size: 1.563rem;
  }
}

h6 {
  font-size: $mg-font-size-100;
  font-weight: 700;
  letter-spacing: 0.03rem;
  line-height: 1.15;
}

p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 1.125rem;

  @include devicebreak(medium) {
    padding-left: 1.313rem;
  }

  li {
    margin-bottom: $mg-spacing-0;
    padding-left: $mg-spacing-0;

    @include devicebreak(medium) {
      margin-bottom: $mg-spacing-0;
      padding-left: $mg-spacing-25;
    }
  }
}

ul li::marker {
  font-size: 1.125rem;

  @include devicebreak(medium) {
    font-size: 1.313rem;
  }
}

ol {
  li {
    margin-bottom: 1.063rem;
  }
}

dl {
  font-size: 0.875rem;
  line-height: 1.37;
  margin: $mg-spacing-0;

  @include devicebreak(medium) {
    font-size: 1.25rem;
  }
}

dt {
  margin-bottom: $mg-spacing-25;
}

dd {
  margin-bottom: $mg-spacing-50;
  margin-inline-start: $mg-spacing-200;

  @include devicebreak(medium) {
    margin-bottom: $mg-spacing-100;
    margin-inline-start: $mg-spacing-300;
  }
}

hr {
  // border-width: 2px;
  border: 1px solid $mg-color-black;
}

// link animation
@keyframes line-loop-animation {
  0% {
    background-position: 100% 100%, -30px 100%;
    background-size: 100% 2px, 0 2px;
  }

  100% {
    background-position: calc(100% + 30px) 100%, 0 100%;
    background-size: 0 2px, 100% 2px;
  }
}

a {
  // @extend %paragraph-font-300 !optional;
  // @extend %animate-link !optional;

  color: $mg-color-interactive;
  text-decoration: none;
}

a:hover {
  color: $mg-color-interactive-active;
  text-decoration: underline;
}

// burmese lang
:lang(my) {
  body {
    font-family: $mg-font-family;
    line-height: 1.7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.7;
  }

  h1 {
    font-family: $mg-font-family;
    font-size: 2.625rem;

    @include devicebreak(medium) {
      font-size: 3.875rem;
    }

    @include devicebreak(large) {
      font-size: 5rem;
    }
  }

  h2 {
    font-size: 2rem;

    @include devicebreak(medium) {
      font-size: 2.188rem;
    }

    @include devicebreak(large) {
      font-size: 2.813rem;
    }
  }

  h4 {
    font-size: 1.3rem;

    @include devicebreak(medium) {
      font-size: 1.8rem;
    }
  }

  h5 {
    font-size: $mg-font-size-400;

    @include devicebreak(medium) {
      font-size: 1.375rem;
    }
  }

  p {
    font-size: $mg-font-size-200;
    line-height: 1.7;

    @include devicebreak(medium) {
      font-size: $mg-font-size-300;
    }
  }

  ul li,
  ol li,
  dl {
    font-size: 0.875rem;
    line-height: 1.9;

    @include devicebreak(medium) {
      font-size: 1.125rem;
    }
  }

  .sbdocs {
    .sbdocs-content,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: $mg-font-family;
    }

    .sbdocs-h1 {
      font-size: $mg-spacing-150;
    }
  }
}

[dir="rtl"] {
  ul,
  ol {
    padding-left: 0;
    padding-right: 1.125rem;

    @include devicebreak(medium) {
      padding-right: 1.313rem;
    }

    li {
      padding-left: 0;
      padding-right: 0.875rem;

      @include devicebreak(medium) {
        padding-right: $mg-spacing-25;
      }
    }
  }
}

/* Cyrillic scripts */
#{$cyrillic} {
  h1 {
    font-family: $mg-font-family;
  }
}

/* typography end */
