@use "../../../assets/scss/breakpoints";
@use "../../../assets/scss/variables";

// @import '../../../assets/scss/variables';
// @import '../../../assets/scss/breakpoints';

.credits {
  font-size: variables.$mg-font-size-200;
  line-height: 1.4;

  @include breakpoints.devicebreak(medium) {
    font-size: variables.$mg-font-size-300;
  }
}
