@use "mixins";
@use "variables";

/* BEGIN Black Italic */
@font-face {
  font-family: Roboto;

  @include mixins.fontdef-woff(variables.$font-path, variables.$FontName, variables.$font-version, "BlackItalic");

  font-weight: 900;
  font-style: italic;
}
/* END Black Italic */
