@use "mixins";
@use "variables";

/* BEGIN Black */
@font-face {
  font-family: Roboto;

  @include mixins.fontdef-woff(variables.$font-path, variables.$FontName, variables.$font-version, "Black");

  font-weight: 900;
  font-style: normal;
}
/* END Black */
