@use "mixins";
@use "variables";

/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto;

  @include mixins.fontdef-woff(variables.$font-path, variables.$FontName, variables.$font-version, "BoldItalic");

  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;

  @include mixins.fontdef-woff(variables.$font-path, variables.$FontName, variables.$font-version, "BoldItalic");

  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
