/* BEGIN Italic */
@font-face {
  font-family: Roboto;

  @include fontdef-woff($font-path, $FontName, $font-version, "Italic");

  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;

  @include fontdef-woff($font-path, $FontName, $font-version, "Italic");

  font-weight: normal;
  font-style: italic;
}
/* END Italic */
