@use "mixins";
@use "variables";

/* BEGIN Light */
@font-face {
  font-family: Roboto;

  @include mixins.fontdef-woff(variables.$font-path, variables.$FontName, variables.$font-version, "Light");

  font-weight: 300;
  font-style: normal;
}
/* END Light */
