@use "mixins";
@use "variables";

/* BEGIN Light Italic */
@font-face {
  font-family: Roboto;

  @include mixins.fontdef-woff(variables.$font-path, variables.$FontName, variables.$font-version, "LightItalic");

  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
