@use "mixins";
@use "variables";

/* BEGIN Medium */
@font-face {
  font-family: Roboto;

  @include mixins.fontdef-woff(variables.$font-path, variables.$FontName, variables.$font-version, "Medium");

  font-weight: 500;
  font-style: normal;
}
/* END Medium */
