@use "mixins";
@use "variables";

/* BEGIN Regular */
@font-face {
  font-family: Roboto;

  @include mixins.fontdef-woff(variables.$font-path, variables.$FontName, variables.$font-version, "Regular");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;

  @include mixins.fontdef-woff(variables.$font-path, variables.$FontName, variables.$font-version, "Regular");

  font-weight: normal;
  font-style: normal;
}
/* END Regular */
