/* BEGIN Thin Italic */
@font-face {
  font-family: Roboto;

  @include fontdef-woff($font-path, $FontName, $font-version, "ThinItalic");

  font-weight: 100;
  font-style: italic;
}
/* END Thin Italic */
