.mg-error-page {
  min-height: 100vh;
  background-color: $mg-color-blue-900;
  color: $mg-color-text;
  padding-bottom: 2rem;

  h1 {
    color: $mg-color-blue-900;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
  }

  &__search {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
    align-items: center;

    input[type="search"] {
      border: 1px solid $mg-color-neutral-100;
      max-width: 300px;
    }
  }

  &__container {
    background: $mg-color-neutral-0;
    padding: 2rem 1.5rem 1rem;
    max-width: 900px;
    margin: 2rem auto;
  }

  .undrr-logo {
    background: url(https://assets.undrr.org/static/logos/undrr/undrr-logo-blue.svg)
      no-repeat;
    background-size: contain;
    width: 280px;
    height: 50px;
    margin: 1rem 0;
  }

  &--challenge {
    background-color: $mg-color-neutral-25;

    .mg-error-page__container {
      text-align: center;
      padding: 3rem 2.5rem 2rem;
      margin-top: 4rem;
      max-width: 540px;
      border-radius: 8px;
      box-shadow: 0 2px 12px rgb(0 0 0 / 0.08);
    }

    .undrr-logo {
      width: 100%;
      margin: 0 0 2.5rem;
      background-position: center;
      height: 35px;
    }

    h1 {
      font-size: 2.3rem;
      font-weight: 600;
      color: $mg-color-text;
      margin: 0 0 0.5rem;
    }
  }
}
